[2018-11-18 14:54] zixia commented on #1645
It's great to hear from the community that there's someone want to build a puppet that fulfills themselves!

Please have a look at <https://github.com/Chatie/wechaty-puppet/wiki/Links> , it includes many useful links, like:

### PuppetWine

* [微信(WeChat)电脑端多开研究+源码](http://anhkgg.com/wechat-multi-pc/)
* [C/C++ Memory Hacking — API Call Hooking | Intercepting API calls](https://www.youtube.com/watch

[2018-11-19 02:19] Free-loops commented on #1640
谢谢， 已经解决了，一用户名为键 存到了一个全局对象中，每个用户对应一个机器人

[2018-11-19 03:08] panxuesen opened #1646 "forward转发文章无效（文字可以），手机微信没有任何显示， 代码如下(还有，请教下怎么自己发送文章呢，发到微信不是一个单纯的连接而是微信那种图文连接)"
[code]

[2018-11-19 03:30] #1639 closed

[2018-11-19 03:30] #1640 closed

[2018-11-19 08:42] windmemory opened #1647 "[RFC] custom id on Contact"
Recently while working on `wechaty-puppet-padpro` project, I found that there is a way to get the real wechat id from underlying service. So for each contact, there will be two ids, one is wxid, which is allocated by wechat system, the other one is the use name, which is created by the user.

I am suggesting here to have an optional `customId` field on `Contact` class. For developers who want to g

[2018-11-19 08:45] windmemory commented on #1575
I think this could be closed since the issue is not exist anymore.

[2018-11-19 08:45] #1575 closed

[2018-11-19 08:46] windmemory commented on #1627
Do you have a rough design for this feature? @xinbenlv

[2018-11-19 09:06] xinbenlv commented on #1627
not yet but could not be hard, the padchat supports it but web wechat doesnt so what is your suggestion for same  Wechaty interface but some puppet doesnt support?

[2018-11-19 09:10] windmemory commented on #1627
Yep, you are right. But there are already some features only supported by padchat puppet not all puppets. So that won't be a problem.

Actually I would like to discuss that whether we want to have a new class called `Label` or link the label to contacts and rooms as an attribute.

@zixia do you have any suggestion on this issue?

[2018-11-19 10:40] zixia commented on #1575
Glad to hear that, thanks!

[2018-11-19 10:43] zixia commented on #1647
There's already a `weixin` in ContactPayload, and it was designed for the real wechat id.

Please have a look into it and let me know whether it cloud fulfill your requirement.

[2018-11-19 10:45] zixia commented on #1627
I'd like to suggest we add `Contact.tag()` to the Contact class.

查看标签: c.tag()
设置标签: c.tag(newTag)
清除标签: c.tag(null)

[2018-11-20 01:06] windmemory commented on #1647
Got it, will assign that value to `weixin`.

[2018-11-20 01:06] #1647 closed

[2018-11-20 01:09] #1629 closed

[2018-11-20 01:10] windmemory commented on #1627
How about the list of tags?

[2018-11-20 02:06] zixia commented on #1627
Should be easy by:

[code]

[2018-11-20 02:39] zixia commented on #1627
I can not understand that the `tagList` is an ordered list, I thought it should be an unordered list?

And from the abstract perspective, Wechaty should not return the number to you, it should return the exact tag name to you because we can not grantee the number will be consistent between different puppet implementations, also the most meaningful part of the tag is the name itself?

[2018-11-20 02:41] zixia commented on #1644
@lijiarui Please add a note to denote which issue it duplicate to. Thanks.

[2018-11-20 03:36] windmemory commented on #1627
For clear tag, I am a little confuse.

Say I have a Contact that have two labels on it, `friend` and `football`, then I want to remove `friend` label from it, how to achieve that?

[code]

For the design above, I can only come up with the code above to achieve that, but not elegant I think.

[2018-11-20 10:56] lijiarui commented on #1644
@zixia As I list above, #90 #1276 #133 #1307  Whether can we get unique wxid or chatroom id.

[2018-11-20 11:37] zixia commented on #1644
The issue that duplicated to should be kept as simple as only one, instead of many.

[2018-11-20 13:09] lijiarui commented on #1644
I see

[2018-11-21 18:38] xinbenlv commented on #1627
+1 to @windmemory, the `delete` method needs to identify itself. After a second thought, I think we should make it clear about what `c` in `c.tag()` is. If `c` is `Contact` class, I don't think it works.

There is a *One-to-Many* relation between Contact and Tag

I think we can do this (the Contact-level interfaces)

`typescript

class Contact {
   public addTag(tagName)
   public removeTag(tagNam

[2018-11-22 03:09] zhaoPengInGithub opened #1648 "Room.findAll() can only return a few rooms, not all of them which displayed on my phone"
I've tried many times,including setTimeout for 6000ms,still not working, is there something wrong with what I did?
[code]

[2018-11-22 09:14] xmsz opened #1649 "关于『friendship』接口的几个情况（no raw payload，Friendship.Type.Confirm，延时）"
[code]

会经常出现以下情况：
1、经常会出现『no raw payload』
2、想知道『Friendship.Type.Confirm』的出现场景
3、延迟非常严重，发生了好友邀请，结果手机上是有，但是wechaty没有监听到；有时候会连续触发好几次

[2018-11-23 06:23] miniframework opened #1650 "ipad"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2018-11-23 09:24] yph152 opened #1651 "如何获取到到消息是什么类型设备发送的？"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2018-11-23 23:14] crdsoft opened #1652 "强烈建议增加判断收到消息是否红包消息"
我们项目里需要判断收到的消息是否属于红包，如果是红包需要回复特定消息。

[2018-11-23 23:17] crdsoft opened #1653 "强烈建议增加自动给用户打标签功能，和搜索某一些标签的所有好友"
我们项目需要根据好友的回答，自动給好友贴标签。后期给某一或某些标签的好友群发消息。目前的api没有？

[2018-11-23 23:19] crdsoft opened #1654 "强烈建议增加修改好友备注的api"
项目中需要自动根据好友的消息修改他的备注名，如何解决

[2018-11-24 04:53] lijiarui commented on #1654
Try `await Contact.alias('alias')`

[2018-11-24 04:54] lijiarui commented on #1653
see https://github.com/Chatie/wechaty/issues/1627

[2018-11-24 04:57] lijiarui commented on #1652
Which puppet are you using now?

[2018-11-24 05:51] crdsoft commented on #1652
web now。support？

[2018-11-24 06:28] #1650 closed, assigned to nobody

[2018-11-24 06:32] crdsoft commented on #1652
那怎么办？安卓的出了吗？

[2018-11-24 07:31] lijiarui commented on #1648
Which puppet are you using?

[2018-11-24 07:33] lijiarui commented on #1646
Which puppet are you using? Web Wechat cannot support at this moment, see https://github.com/Chatie/wechaty-puppet/wiki/Compatibility

[2018-11-24 07:34] lijiarui commented on #1644
@Fnckerpoi  没有更多问题的话，可以关掉这个issue 了 :)

[2018-11-24 07:36] lijiarui commented on #1626
这个功能一直还不支持

[2018-11-24 08:09] xmsz commented on #1649
感谢回复，我发现有个触发的情况是：
A：机器人
B：另一个微信号

B和A原来是好友，然后A删除了B；
这个适合B再加A的时候，Contact.friend()显示true，导致这时候，accpet的时候会出现no raw payload，并且这个Contact.name()仍可以取到值（预期：新用户是没有这个值的）
并且这个时候是不会触发『Friendship.Type.Confirm』的场景，他们直接就会通过

[2018-11-24 08:46] #1644 closed

[2018-11-24 08:46] Fnckerpoi commented on #1644
ok

[2018-11-24 08:59] xmsz commented on #1534
您好，在onMessage中如何筛选聊天记录
使用Message.find({ text: "2" });会出现
[code]

[2018-11-24 14:36] crdsoft commented on #1653
这个功能什么时候可以用呢？

[2018-11-25 03:18] crdsoft opened #1655 "乱码"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2018-11-25 03:18] crdsoft opened #1656 "乱码"
async function onMessage (msg) {
  console.log(msg.toString())
  let msgText = msg.text()
  if (msgText.indexOf("vip")  > -1) {
        respText = "想成为VIP？"
        await msg.say(respText)
    }
}

微信端收到乱码：
���ΪVIP��

怎么解决？

[2018-11-25 03:19] #1655 closed

[2018-11-25 07:05] windmemory commented on #1627
+1 to @xinbenlv 's design. Just one confusion, what does the `updateTag` do? I didn't get the idea of the comment, could you please explain more about it?

[2018-11-25 07:15] crdsoft commented on #1656
@lijiarui 帮忙看看呗

[2018-11-25 07:15] lijiarui commented on #1649
你说的这种情况，B还会认为自己和A是好友，除非他发消息给B发现发不出去了，才会知道自己已经不是A的好友了。你可以在自己的微信上实验一下，所以此时 Contact.friend()显示true 是正常的。

这也就解释了，当A删除了B，A再加B的时候，会直接通过的原因。

以上的情况，你抛开代码层面，单纯用手机微信试一下，再回归代码里面会好容易理解一些。

[2018-11-25 07:30] lijiarui commented on #1652
If you don't have more question about this issue, please close this issue, thanks :)

[2018-11-25 07:31] lijiarui commented on #1651
If you don't have more question about this issue, I'll close this issue, thanks :)

[2018-11-25 07:31] #1651 closed

[2018-11-25 07:32] lijiarui commented on #1634
### Need More Information

I suggest you not follow the **ISSUE Template**, this issue doesn't have enough information about your problem.

In order to help us to find the problem out, you should provide all the detail information about the issue. Please make sure you are following the ISSUE Template, answer all the question, and the more important: **provide the steps to reproduce the problem**.

[2018-11-25 07:32] crdsoft commented on #1656
需要什么信息？我发你。

[2018-11-25 07:33] #1652 closed

[2018-11-25 07:34] lijiarui commented on #1656
Please follow the **ISSUE Template** ：

### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <http

[2018-11-25 09:15] crdsoft commented on #1656
@lijiarui 美女

[2018-11-25 10:06] xmsz commented on #1649
原来如此 非常感谢解答

[2018-11-25 10:06] #1649 closed

[2018-11-25 10:22] xmsz opened #1657 "How to use Message.find() and Message.findAll()"
### 1. Expected behavior

**Question: What behavior do you expect?**

Answer: Filter params with Message.find(), and get result.

### 2. Actual behavior

**Question: What actual behavior did you experience?**

Answer: Can't set any params in Message.find()
I want to do in this way

[code]
But, it turn out with error notice me lack of 'fromId'.

Only did i use
[code]
do return record. but, the reco

[2018-11-25 11:10] lijiarui commented on #1656
Please paste the full log info, thanks ：）

[2018-11-25 11:17] lijiarui commented on #1587
@QinYuanyuan I will close this issue due to no response for months, feel free to reopen this if you have any questions.

[2018-11-25 11:19] lijiarui commented on #1588
Yes, urlLink only support on padChat version at this time, see https://github.com/Chatie/wechaty-puppet/wiki/Compatibility

I will close this issue due to no discussion for months, feel free to reopen this or file a new issue if you have any questions.

[2018-11-25 11:19] #1588 closed

[2018-11-25 11:20] lijiarui commented on #1595
I will close this issue due to no more discussion for months, feel free to reopen this or file a new issue if you have any questions.

[2018-11-25 11:20] #1595 closed

[2018-11-25 11:22] #1613 closed, assigned to nobody

[2018-11-25 12:31] lijiarui commented on #1656
Could you add `console.log(respText)` as the following showed and have a try?

[code]

[2018-11-25 13:03] windmemory commented on #1627
So @huan do you agree with @xinbenlv ? I think the design that @xinbenlv came up with is great.

[2018-11-25 13:31] crdsoft commented on #1656
改成上面代码，结果运行出错了
Contact<义鉑> login
Message#Text(🗣Contact<公安信息化>👤Contact<义鉑>)<vip>
(node:16956) UnhandledPromiseRejectionWarning: ReferenceError: respText is not defined
    at Wechaty.onMessage (C:\Users\Administrator\wechaty\examples\starter-bot.js:32:20)
    at Wechaty.on.args (C:\Users\Administrator\wechaty\node_modules\wechaty\dist\src\wechaty.js:383:26)
    at Wechaty.emit (events.js:182:13)

[2018-11-25 13:55] crdsoft commented on #1656
就是改成这样也是两行错误编码
async function onMessage (msg) {
  console.log(msg.toString())
 let msgText = msg.text()
  if (msgText.indexOf("vip")  > -1) {
      let  respText ='想成为VIP？'
        console.log(respText)
        await msg.say(respText)
        await msg.say('甚至将他的')
    }
}

运行结果：
Contact<义鉑> login
Message#Text(🗣Contact<公安信息化>👤Contact<义鉑>)<vip>
���ΪVIP��
Message#Text(🗣Contact<义鉑>👤Contact<公安信息化>)<��

[2018-11-25 14:02] lijiarui commented on #1656
Could you just try the following code:
[code]

If this still has a strange code, I guess this is not related to wechaty, it is related to your code editor.

[2018-11-25 15:48] windmemory commented on #1656
Or related to windows encoding.

[2018-11-25 18:32] xinbenlv commented on #1627
I think `updateTagList();` could change to something like `refreshTagList();`

[2018-11-25 18:46] crdsoft commented on #1656
解决了，谢谢美女和大神。果然是编辑器问题，我直接使用记事本的原因。

[2018-11-25 18:46] #1656 closed

[2018-11-26 02:19] xmsz opened #1658 "How to get the wx_id when user had wx account?"
### 1. Expected behavior

**Question: What behavior do you expect?**

Answer: Get wx_id from Contact.id not wx account

### 2. Actual behavior

**Question: What actual behavior did you experience?**

Answer: When user had set the wx account (ex: test), it will return 'test'. But, I want the wx id ,not the wx account.
Case, wx_id is unique, wx account can be changed

[2018-11-26 04:52] lijiarui commented on #1658
Question: Which puppet are you using?

Yes, using `Contact.id` just can get contact unique id according to the puppet, see more:  #1644 #90 #1276 #133 #1307

If you want to get weixin id, you can use `Contact.weixin()`, but this isn't supported at this time, it is coming very soon! see #1647

- If you are using iPad version, Contact.id is unique ID of and always the same id across sessions. It mea

[2018-11-26 07:43] xmsz commented on #1658
Thanks

[2018-11-26 07:43] #1658 closed

[2018-11-26 10:37] huan commented on #1627
Thanks for the discussion and the suggestion for the new API.

I'll have a look into them later and share my thoughts at here when I got time.

[2018-11-26 12:20] windmemory opened #1659 "Adjust data sync order when message event triggered"
Recently I was tweaking the `wechaty-puppet-padpro` project, and found a sync issue related to message sync order.

Here is the code
[code]

Here is my case:

In this piece of code, when we receive a new message, we will sync all related data to it. But I found that when we sync data for the room and room members (two api calls), we will load the data for the `toContact` and the `fromContact`, the

[2018-11-26 12:31] huan commented on #1659
The PR is ok for me.

However, I did not understand the case that you described: We should already have an underlying cache layer to cache the XXXPayload so that we only to load it once?

If so, why did the order matter to us?

[2018-11-26 12:40] windmemory commented on #1659
The case is when we don't have the XXXPayload loaded and we receive a lot of messages requires that payload, like we logged in for the first time. And we receive a lot of messages before we synced all the data.

[2018-11-26 15:43] windmemory commented on #1659
Thanks for merge :)

[2018-11-26 15:43] #1659 closed

[2018-11-27 03:40] windmemory commented on #1560
Created PR for this change, will try to setup an cloud env to test this for you.

[2018-11-27 07:42] windmemory commented on #1560
Cloud9 env: https://us-west-2.console.aws.amazon.com/cloud9/ide/20a9743b61294a3cb10f8f70e64c7883

Was try to create env with coder, but have problem running node and npm on it, so back to AWS Cloud9 again.

[2018-11-28 04:21] #1641 closed

[2018-11-28 04:22] windmemory opened #1663 "Refactor message.ts file to fit the requirement in CodeClimate"
Refer to PR: https://github.com/Chatie/wechaty/pull/1662#issuecomment-442313225

CodeClimate complains about deep `Cognitive Complexity` on `mention` function, and several other issues related to this file, need to refactor the code then resolve the issue.

Refer to [climate code analysis page](https://codeclimate.com/github/Chatie/wechaty/src/user/message.ts/source?from_sha=5abfc704&to_sha=840266

[2018-11-28 06:14] huan commented on #1627
Another question: what things in Wechat can have a tag? currently, I only know two of them: `Contact` & `Favorite`.

Do we need a Tag Manager to implement the tag related methods? like:

[code]

[2018-11-28 07:55] windmemory commented on #1627
### A brief summary below of what we came up with along the conversation

|operation|1|2|3|
|---|---|---|---|
|add tag to contact|`c.tag(newTag)`|`c.addTag(t)`|`bot.Tag.add(c,t)`|
|get all tags for contact|`c.tag()`|`c.getTagList()`|`bot.Tag.list(c)`|
|delete tag|`c.tag(null)`|`c.removeTag(t)`|`bot.Tag.del(c,t)`|
|get all tags across bot|`bot.getTagList()`|`bot.Tag.list()`|
|search by tag|`bot.fin

[2018-11-29 01:01] xinbenlv commented on #1627
`c.tag()` sounds like a singular Tag instead of a list of Tags, how about `c.tags():string[]`

[2018-11-29 13:41] windmemory commented on #1627
I agree with you @xinbenlv so I would prefer to use `c.tags()`

[2018-11-29 13:53] huan commented on #1627
Question: what things in Wechat can have a tag? currently, I only know two of them: `Contact` & `Favorite`.

Is there other things that need to be tagged?

[2018-11-29 18:16] xinbenlv commented on #1627
@huan `c.tag(null)` does not work, needs to update to make a valid delete

[2018-11-30 02:33] windmemory commented on #1627
@huan I don't know anything else has tag other than `Contact` and `Favorite`.

[2018-11-30 02:58] lhr0909 commented on #1217
@lijiarui @huan What happens if we need to use the type definitions for these classes?

See `_contactPayload` and the `WechatBotAdapter`, which currently we get yelled at for the extended `WechatBotAdapter` for the same issue.

![image](https://user-images.githubusercontent.com/1154575/49265843-c86e3800-f48e-11e8-8113-f9e4e8bc8f5c.png)

[2018-11-30 02:59] lhr0909 commented on #1217
Well, crisis averted. Sorry for the ping

![image](https://user-images.githubusercontent.com/1154575/49265922-0ff4c400-f48f-11e8-85ee-1d13bdf0d7da.png)

[2018-11-30 03:02] #1560 closed

[2018-11-30 08:19] miniframework opened #1664 "这是基于什么协议的web pc ipad"
这是基于什么协议的web pc ipad

[2018-11-30 10:33] huan commented on #1664
Please see: https://github.com/Chatie/wechaty#3-switch-protocolpuppet

[2018-11-30 10:33] #1664 closed

[2018-11-30 10:38] huan commented on #1627
@windmemory Could you please show me the underlying Wechat Raw API of Tag operations?

I need to understand the low-level wechat API so that we can align our design with it.

[2018-11-30 10:47] windmemory commented on #1627
Haven't tested them out, I might need some time to do this, @xinbenlv is using `padchat-sdk` which has underlying support for `Tag`, he might share some knowledge on that?

@xinbenlv Could you please share some details about the underlying APIs?

[2018-11-30 10:52] lhr0909 opened #1665 "Room.say method is not working"
### 1. Expected behavior

**Question: What behavior do you expect?**

Answer: The mention should work in `Room.say` methods

### 2. Actual behavior

**Question: What actual behavior did you experience?**

Answer: The mention is completely not working, and wasted hours of our debugging time.

### 3. Steps to reproduce your problem (and fixes, if any)

This part is very important: if you can not pro

[2018-11-30 20:10] jayarjo commented on #1435
Hitting this with the version 2.1.1.

[2018-12-01 17:05] huan commented on #1657
Did you mean that you can not specify the filter parameter to `findAll` method?

I Will look into it when I have time.

[2018-12-03 04:19] huan opened #1667 "Enable programming mono font with italics and font ligatures by installing Fira Code iScript"
### How To

1. Install Fira Code from [Mashup Font of FiraCode and Script12](https://github.com/kencrocken/FiraCodeiScript)
1. You are set.

### The Result Screen Shot

![image](https://user-images.githubusercontent.com/1361891/49352753-8fcf9800-f6f4-11e8-877a-030fdac14344.png)

### See Also

- [Monospaced font with programming ligatures](https://github.com/tonsky/FiraCode)
- [How do I get Visual

[2018-12-03 18:47] xinbenlv commented on #1627
https://raw.githubusercontent.com/binsee/padchat-sdk/master/README.md

| **标签管理**       |
| 添加标签           | addLabel            |
| 删除标签           | deleteLabel         |
| 获取所有标签       | getLabelList        |
| 设置用户标签       | setLabel            |

[2018-12-04 06:11] huan commented on #1627
@xinbenlv Appreciate for letting me know this.

@windmemory Could you please show me the low-level API from your side?

I'll be able to decide which design I prefer after I see the low-level API interfaces.

Thank you very much.

[2018-12-09 09:19] lijiarui commented on #419
Hi, @dcsan ,  @windmemory  just launch a bot to answer wechaty questions, and we had about 60 wechaty QA, maybe you guys can discuss wechaty qabot, then we may publish a bot next week :)

[2018-12-09 12:04] dcsan commented on #419
https://botorange.gitbook.io/wechaty/faq

[2018-12-10 15:36] windmemory opened #1668 "Wechaty v0.23 PadPro Testing, an enhanced pad puppet implementation!"
Hello to developers who are using Wechaty,

We have excellent news for you: Wechaty New Puppet System is going to ready for testing!, and Alpha Testing Volunteers are open to applications now.

We have launched a new puppet `wechaty-puppet-padpro` few weeks ago, now we are launching alpha test for `wechaty-puppet-padpro`.

New puppet `wechaty-puppet-padpro` is the new version of `wechaty-puppet-pa

[2018-12-15 12:46] greenkeeper[bot] opened #1670 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.2.0` to `7.2.2`.
- The `devDependency` [@babel/node](https://www.npmjs.com/package/@babel/node) was updated from `7.2.0` to `7.2.2`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.

[2018-12-17 03:04] Zirpon opened #1671 "微信运动呢"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2018-12-17 08:47] lijiarui commented on #1671
Sorry, we haven't support this feature yet, pr is welcome ：）

[2018-12-17 09:30] Zirpon commented on #1671
what dose 'pr' suppose to mean

[2018-12-19 06:15] demobo-com commented on #1145
Got stuck on the same problem. How did you fix this?

[2018-12-19 06:40] demobo-com commented on #1145
I am using this in US with AWS ec2 us-west-1 instance.

[2018-12-19 08:01] huan commented on #1145
So your issue is not related to this issue anymore.

I'd like to suggest you change your VPS from AWS to another cloud provider and try again.

[2018-12-20 02:32] demobo-com commented on #1145
{ [Error: EACCES: permission denied, mkdir '/web/carpedm/ec2/node_modules/wechaty/node_modules/puppeteer/.local-chromium']
  errno: -13,
  code: 'EACCES',
  syscall: 'mkdir',
  path:
   '/web/carpedm/ec2/node_modules/wechaty/node_modules/puppeteer/.local-chromium' }

This is the error I get.

sudo npm install wechaty-puppet-puppeteer@^0.14.1 --unsafe-perm=true --allow-root
This fixes it.

[2018-12-20 04:04] huan commented on #1145
Glad to hear that you had fixed it. It seems that you have a local file system permission issue.

[2018-12-20 23:19] MatthewScholefield opened #1672 "'camelcase' missing dependency"
### 1. Expected behavior
`npm install wechaty` succeeds

### 2. Actual behavior

[code]

### 3. Steps to reproduce your problem

 - `npm init`
 - `npm install --save wechaty`

**Fix:**
 - `npm install --save camelcase`

This was instaling the latest `wechaty@0.22.6`

[2018-12-22 17:34] suntong opened #1673 "WECHATY_PUPPET=mock failed, TypeError [ERR_INVALID_ARG_TYPE]: The "request" argument must be of type string"
This is a follow up from,
https://github.com/Chatie/wechaty-puppet-puppeteer/issues/60
in which all the relevant environment/install/config/running info is given.

I.e., under a fresh installation, the mock puppet is not working either:

[code]

### Full Output Logs

<details>
<summary>
Show Logs
</summary>

[code]

</details>

[2018-12-23 05:40] suntong commented on #1673
Is it possible to do a sanity check on the `WECHATY_PUPPET` values, instead failing messily like this?

[2018-12-23 10:43] huan commented on #1673
Could you try the `@next` version for this?

I remember that I had added this check for the latest code.

[2018-12-23 14:56] suntong commented on #1673
Oh, as long as you've check it. I'm good -- as I want to keep at the stable side, and no more troubles as I had been through. thanks for fixing it.

[2018-12-23 14:56] #1673 closed

[2018-12-24 01:58] keyiis opened #1674 "msg.say 重复执行"
我参考wechaty-getting-started的ding-dong-bot.js做了些修改。在接收到消息自动回复时，会无限循环执行mag.say操作，
[code]
![qq 20181224100131](https://user-images.githubusercontent.com/7766085/50389299-a8672700-0763-11e9-88be-45f2afc56d92.png)

[2018-12-24 02:35] keyiis commented on #1674
已在文档中找到答案
[code]

[2018-12-24 02:35] #1674 closed

[2018-12-25 10:48] TbhT opened #1675 "Errors occur sometimes when bot running"
Follows are the errors , which occur during the wechat bot running :

- `Error: Error: Protocol error (Network.deleteCookies): Target closed.`

- `Error: Failed to add page binding with name wechatyPuppetBridgeEmit: window['wechatyPuppetBridgeEmit'] already exists!`

- `Error: TimeoutError: Navigation Timeout Exceeded: 30000ms exceeded`

- ` Error: Protocol error (Network.deleteCookies): Target cl

[2018-12-25 13:03] huan commented on #1675
It seems all the above errors are related to the `wechaty-puppet-puppeteer`.

It's better to:

1. move this issue to https://github.com/Chatie/wechaty-puppet-puppeteer/issues, and
1. find out how to reproduce it with specific minimum steps, or we can not analytics them.

Thanks for list them out, and Merry X'mas!

[2018-12-25 13:40] TbhT commented on #1675
Too :) .

Well , I will try to reproduce it but it may need more time .

[2018-12-25 13:44] #1675 closed

[2018-12-26 17:51] suntong opened #1676 "Message.toString format discussion"
Would it be OK that the Message.toString format be changed a bit?
https://github.com/Chatie/wechaty/blob/ae371981402b12f9a14c44071fbdde0da72c1836/src/user/message.ts#L227-L237

The current format makes it hard for me to ***quickly*** grasp  _who_ has said what at where.

I know it is much a personal preference, but would it be OK if I change the output format to

    Message#Text[🗣Contact<From Who

[2018-12-26 17:54] huan commented on #1676
Yes, it will be ok and I have no opposition to your change proposal.

Please go ahead to submit a PR for you to quickly grasp who has said what at where.

[2018-12-26 17:58] suntong commented on #1676
Thanks a lot. will do it right away.
BTW, I had been using '\t' to separate the people@room and message, which makes the messages lining up better, if their name length differ within 7 characters. I'll do this as well, if you don't mind...

[2018-12-26 18:06] suntong commented on #1676
Oh, @huan, sorry for a noob question -- I've make the changes locally in my `npm root` directory, but the output remains the same.

Do I need to trigger a rebuild/recompile or something for the change to take effect? If so, how. Thx a lot!

[2018-12-26 22:43] demobo-com commented on #518
Thanks for this great feature. One question: What is the bot instances limit?

[2018-12-27 12:43] lhr0909 opened #1678 "[Feature] Send Raw Message"
Currently on Wechaty's `Message` class, the message type is pre-parsed and we are able to tell the type of the messages. As features start to grow in Wechat, there are more and more message types, notably the Mini-Program type.

`Message.text()` method can return the raw payload in XML format, and there is a way to forward the message in memory with `Message.forward()` method. However, often times

[2018-12-27 12:47] lijiarui commented on #1678
Agree with this!

Could you show your suggestion of what this API looks like?

[2018-12-27 12:55] lhr0909 commented on #1678
It will basically just to have an extra `.sayRaw()` on the `Bot`, `Contact`, `Message` and `Room` classes, we will have them in wherever the `.say()` API is

[code]

[2018-12-27 12:56] lijiarui commented on #1678
Related Issues:

- [Support ChatHistory messages](https://github.com/lijiarui/wechaty-puppet-padchat/issues/223)

[2018-12-27 14:50] jijiechen commented on #1678
@lhr0909  While I agree with your idea, but it's not easy to build raw messages though. This is especially true when much logic is hidden on servers when you use other puppets rather than the puppteer.

[2018-12-27 14:54] jijiechen opened #1679 "Support ChatHistory messages"
I didn't use provided issue template since this is an enhancement request instead of an issue.

Wechaty works well for many types of messages including `Text`, `Image`, `Video`, etc. I'm here to ask for a new feature of supporting the reading and extracting sub-messages from a `ChatHistory` message forwarded from other conversations.

A ChatHistory message is generated by following steps:

1. go t

[2018-12-27 14:55] jijiechen commented on #1679
This issue was originally published at https://github.com/lijiarui/wechaty-puppet-padchat/issues/223

[2018-12-27 14:57] jijiechen commented on #1679
I'm working on some projects extracting ChatHistory messages.
But, as stated in the initial post, there is one blocking problem makes me not possible to support multi-media messages as Wechaty and underlying puppets DO NOT provide any standalone APIs for downloading multi-media content based on `cdndataurl` and `cdndatakey` things.

Only this is solved could my solution move on. If so, I'll be hor

[2018-12-28 08:17] #1612 closed

[2018-12-28 08:19] huan commented on #1603
Wechaty docker image is based on the Ubuntu standard version and it also pre-installed all the puppets and the related NPM modules, the compressed size is arount 400~500MB.

It is possible to reduce the size, but it will cause the cost of the maintainment to be high.

So I'd like to keep the things simple: use the standard base image and install everything for easy maintain and use.

If you need a

[2018-12-28 08:19] #1603 closed

[2018-12-28 08:20] #1670 closed

[2018-12-29 01:56] demobo-com commented on #339
I have no problem sending/receiving QRcode. The problem is how to scan the QRcode with one mobile device.

[2018-12-29 02:30] keyiis opened #1680 "有没有自动发朋友圈的功能？或者推荐下"
wechaty受web微信接口的限制，没法对朋友圈做任何操作，不知有没有类似开源框架能支持朋友圈的操作？安卓模拟器太耗资源了，还请各路神仙推荐下！

[2018-12-29 09:37] lijiarui commented on #339
As I know, this is impossible due to WeChat policy.

[2018-12-29 22:18] suntong commented on #1676
Please help @huan/@windmemory --

I've done the `npm run dist` but the result still remains the same.

Basically, I'm following @windmemory's excellent tutorial article at:

https://github.com/botorange/wechaty-puppet-padpro/wiki/How-to-use-npm-link-to-develop-wechaty-puppet-padpro

and everything works fine, except that the result still remains the same.
Have I changed to the correct place?

Here

[2018-12-30 02:59] huan commented on #1676
Please follow the issue template and describe the reproduce steps and your expect result in detail, or I can not understand what you want to do.

Please also open a new issue with your new problem, thanks!

[2018-12-30 03:21] suntong opened #1681 "How to use `npm link` with a local developing wechaty with TypeScript"
### 1. Expected behavior

**Question: What behavior do you expect?**

Answer: Having done the change in (#1677), I'm expecting that the new Message.toString is doing what I expect, i.e., in the format of

    Message#Text[🗣Contact<From Who>@👥Room<Which Room>] The first 70 bytes...

as opposed to,

    Message#Text(👥Room<WhichRoom>🗣Contact<From Who>👤Contact<Always My ID Thus Should be Omitted>)<<im

[2018-12-30 05:08] baixiaoyu2997 opened #1682 "登录二维码为什么不能在手机中识别？"
version:0.22.6

问题：
启动机器人后生成的qr地址 发送到手机，在微信中点击识别二维码，然后提示无法识别的二维码

期待结果：
不想用手机再扫描电脑，希望用一台手机就搞定登录问题，请问有什么更好的解决方案吗？ 感谢

[2018-12-30 05:19] suntong commented on #1681
That two steps are already covered in @windmemory's excellent tutorial article at:
https://github.com/botorange/wechaty-puppet-padpro/wiki/How-to-use-npm-link-to-develop-wechaty-puppet-padpro

Thus I didn't repeat those here again.

So basically, yes, I've done them all. Else, moving to and running from under `/tmp/starter-bot/` won't work.

[2018-12-31 05:41] #1682 closed

[2019-01-02 10:10] huan opened #1683 "[New Puppet] PuppetDingTalk"
It seems that the Ali DingTalk（钉钉）  Robot is quite easy to use, it's well designed and quite convenient.

### See

1. #1167
1. [钉钉开放平台- 钉钉群机器人](https://open-doc.dingtalk.com/docs/doc.htm?treeId=257&articleId=105735&docType=1)

[2019-01-02 11:27] huan opened #1684 "[New Puppet] PuppetWechatWork"
It has official API and should be very easy to implement.

See #1167

[2019-01-02 11:28] huan opened #1685 "[New Puppet] PuppetWeibo"
It has official API and should be easy to be implemented.

See #1167

[2019-01-04 00:03] lijiarui commented on #1684
Really looking forward for this implement!

[2019-01-04 03:16] huan commented on #1684
It would be wonderful if anyone could volunteer to implement this puppet. ;-D

[2019-01-04 06:46] lijiarui commented on #1684
I can sponsor this project ：）

[2019-01-05 10:59] TigerBill2016 opened #1687 "代码部署到服务器上，无法登录 ,警告异地登录"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2019-01-05 12:01] lijiarui commented on #1687
Can you login by scan qrcode?

[2019-01-05 14:13] TigerBill2016 commented on #1687
登录不了了
22:11:16 WARN PuppetPuppeteerBridge onDialog() page.on(dialog) type:type() {
0|app  |     return this._type;
0|app  |   } message:当前登录环境异常。为了你的帐号安全，暂时不能登录web微信。你可以通过Windows微信、Mac微信或者手机客户端微信登录。
0|app  | (node:22502) UnhandledPromiseRejectionWarning: Error: Error: type() {
0|app  |     return this._type;
0|app  |   }(当前登录环境异常。为了你的帐号安全，暂时不能登录web微信。你可以通过Windows微信、Mac微信或者手机客户端微信登录。)
0|app  |

[2019-01-06 01:15] lijiarui commented on #1687
I found you are using PuppetPuppeteer which is using web wechat, web wechat has some limit, see more: https://docs.chatie.io/v/zh/#web-limit-1

[2019-01-08 02:19] demobo-com opened #1688 "docker compose"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2019-01-09 04:43] daoxiaozhang opened #1689 "Why `findAll()` returns `[]` ?"
### package:
"wechaty": "^0.22.6"

### code:
`const bot = new Wechaty();`
`Wechaty.instance().start();`
`// I had logined ,then i run bottom code,i cant get anything`
`const room = await bot.Contact.find({topic: 'test'})`
`-->null`
`const roomList = await bot.Room.findAll()`
`--> []`

[2019-01-09 05:09] huan commented on #1689
Could you try to do a `await bot.sleep(10 * 1000)` before `bot.Contact.find` ?

I guess you are using the default puppeteer puppet.

We will emit a `ready` event in the future, see https://github.com/Chatie/wechaty-puppet-puppeteer/issues/63

[2019-01-09 05:13] huan opened #1690 "Document bug in README"
README markdown format needs to be fixed:

![image](https://user-images.githubusercontent.com/1361891/50878166-4b7c9980-1410-11e9-8212-94871df16459.png)

<https://github.com/Chatie/wechaty/blob/master/README.md>

[2019-01-09 15:19] TigerBill2016 commented on #1687
服务器上，如何避免出现异地登录的警告, 谢谢！

[2019-01-10 02:18] #1689 closed

[2019-01-10 04:36] huan commented on #1689
Oh, yes, it is.

Glad to hear that, cheers!

[2019-01-10 06:01] windmemory commented on #1684
`WeChatWork` feels weird to me, maybe `PuppetEnterprise` would be better :)

[2019-01-10 08:41] streamDream commented on #1547
@huan
我也遇到了同样的问题(修改群名称之后, topic事件的回调报错)。所用库信息如下：
    "cookie-parser": "~1.4.3",
    "debug": "^4.1.1",
    "express": "~4.16.0",
    "http-errors": "^1.7.1",
    "log4js": "^3.0.6",
    "pug": "^2.0.3",
    "querystring": "^0.2.0",
    "request": "^2.88.0",
    "uuid": "^3.3.2",
    "wechaty-puppet-puppeteer": "^0.14.1",
    "puppeteer": "1.11.0",
    "wechaty": "^0.22.1"

日志如下：
[2019-01-10T16:20:

[2019-01-10 08:56] streamDream opened #1691 "机器人登录后，其他人修改了群名称，message事件推送群消息时的群名称依然是旧群名"
你好！
重现步骤：
1.扫码登录成功；
2.在群中发送消息，message事件中room topic为 roomName1；
3.其他群成员修改群名称为roomName2；
4.在群中发送消息，message事件中room topic依然为 roomName1； [ Why ???]

OS: Ubuntu
package信息：
    "cookie-parser": "~1.4.3",
    "debug": "^4.1.1",
    "express": "~4.16.0",
    "http-errors": "^1.7.1",
    "log4js": "^3.0.6",
    "pug": "^2.0.3",
    "querystring": "^0.2.0",
    "request": "^2.88.0",
    "uuid": "^3.3.2",

[2019-01-11 02:51] huan commented on #1679
@jijiechen thank you very much for the purpose in details, it's very clear that we definitely welcome this new feature.

There will be some more details need to be discussed, like how can we separate the chat history into messages.

However, I agree that ChatHistory will be a good name for Wechaty to deal with this problem, I'd like to add this new Design to the Wechaty framework, and the underlin

[2019-01-11 03:36] jijiechen commented on #1679
Thanks for the reply.
As mentioned before, I worked out a prototype to support this and published it at https://github.com/jijiechen/dotnetclub-chaty

If interested, you may try it now with a padchat token or a padpro token placed in `config/config.json`. (I'm honored to be one of the beta users of padpro, BTW)
Indeed, separating and storing messages are core design concerns.

[2019-01-11 04:01] huan commented on #1679
Your project based on wechaty is awesome!

I will look into it when I have time and get back to you.

[2019-01-12 15:43] klren0312 commented on #1637
请问手动下载的 放到哪个目录...

[2019-01-13 09:09] TigerBill2016 opened #1693 "生成二维码的链接访问不了"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2019-01-13 18:47] lijiarui commented on #1693
Please give more information:
1. Which puppet are you using
2. Please give the reproduce code.

Thanks

[2019-01-15 08:45] blissCheng commented on #1693
I have encountered this problem。

[code]

My code:

[code]

the qrcode returns the result as  https://login.weixin.qq.com/l/wYt1ExXFNA== .
Actually https://login.weixin.qq.com/qrcode/wYt1ExXFNA== is a valid qrcode.

[2019-01-16 00:00] lijiarui commented on #1693
I suggest you try the example here: https://github.com/wechaty/wechaty-getting-started/blob/master/examples/starter-bot.js

[2019-01-17 02:38] blissCheng commented on #1693
Oh~~~ Thanks

[2019-01-17 03:54] travelk commented on #637
我也遇到了这个问题了 你解决了么

[2019-01-17 03:55] travelk commented on #637
@shenlanzifa

[2019-01-17 08:44] lijiarui commented on #1693
You are welcome, you can close this issue if you don't have other questions ：）

[2019-01-17 09:01] travelk opened #1694 "electron中调试模式下可以正常启动，打包后无法使用"
wechaty: 0.22.6
electron: 4.0.1
node: 10.11.0
打包运行后，报错信息如下：
[code]

[2019-01-17 10:05] huan commented on #1694
Could you please provide a minimum repository so that I could reproduce it and look into it for you?

I could not help you without any reproduce-able code.

[2019-01-17 14:55] travelk commented on #1694
我发现electron-builder打包的时候不启用asar就可以正常启动
官网的说明 [Node API 的局限性](https://electronjs.org/docs/tutorial/application-packaging#node-api-%E7%9A%84%E5%B1%80%E9%99%90%E6%80%A7)
我想应该和这有关系

[2019-01-19 01:38] #1694 closed

[2019-01-22 15:08] TigerBill2016 opened #1696 "room.announce()报unexpected api call: WXGetChatroomAnnouncement"
### 0. Report Issue Guide

0. Please search in the issue first, and make sure your problem had not been reported before.
1. If your issue is related to _wechaty-puppet-padchat_, please report the issue at <https://github.com/lijiarui/wechaty-puppet-padchat/issues/new>
2. If your issue is related to _wechaty-puppet-puppeteer_, please report the issue at <https://github.com/Chatie/wechaty-puppet-pup

[2019-01-22 19:40] lijiarui commented on #1696
wechaty-puppet-padchat hasn't implement anouncement yet, you can try [wechaty-puppet-padpro](https://github.com/botorange/wechaty-puppet-padpro)

[2019-01-23 07:35] icepy opened #1697 "使用自动拉人入群功能"
### 1. Expected behavior

**Question: What behavior do you expect?**

Answer: 给联系人发送一个入群邀请

### 2. Actual behavior

**Question: What actual behavior did you experience?**

Answer: 直接报错，日志如下

[code]

代码如下：

在message callback 里查询到群的topic，然后使用：

[code]

### 3. Steps to reproduce your problem (and fixes, if any)

This part is very important: if you can not provide any reproduce steps, then the problem

[2019-01-23 07:38] icepy commented on #1697
然后我在文档 [https://docs.chatie.io/v/zh/](https://docs.chatie.io/v/zh/) 里看见：

![image](https://user-images.githubusercontent.com/3321837/51590428-d38c9400-1f24-11e9-8ebe-5f2e1025af3e.png)

请问现在 wechaty 已经不能自动拉人入群了，对么？

[2019-01-23 08:01] icepy commented on #1697
按照官网的了解，如果要实现自动拉人入群，是要用 https://docs.chatie.io/v/zh/#multi-protocal 其他puppet 的吧？然后购买 [https://github.com/lijiarui/wechaty-puppet-padchat/wiki/%E8%B4%AD%E4%B9%B0token](https://github.com/lijiarui/wechaty-puppet-padchat/wiki/%E8%B4%AD%E4%B9%B0token) token 来跑客户端么？

[2019-01-24 06:21] lijiarui commented on #1697
@icepy  you are right.

[2019-01-24 06:30] icepy commented on #1697
@lijiarui thx

[2019-01-24 06:30] #1697 closed

[2019-01-25 08:20] BeanHsiang opened #1698 "Message对象的mention和mentionSelf异步函数无效"
### 操作步骤

0. 克隆最新的项目，打开\examples\professional\tuling123-bot.js
1. 在onMessage函数体的开头添加代码：

[code]

2. 执行代码，扫码登录一个bot，用另一个微信号在手机端登录，并在微信群中@前面登录的bot。

### 期望结果

在打印result时有非空的对象，换成mentionSelf时，期望打印true

### 实际打印结果

[code]

换成mentionSelf时
[code]

[2019-01-25 10:20] lydiadai opened #1699 "ipad 微信登录会自动退出"
ipad 微信会自动退出登录
情况1：自动通过好友验证之后可能会退出
log：
[code]
![image](https://user-images.githubusercontent.com/23027848/51739509-9400ac00-20cc-11e9-8dbf-87d9860d8683.png)

情况2：回复用户消息有时候会退出
[code]
![wechatimg15](https://user-images.githubusercontent.com/23027848/51739652-f5c11600-20cc-11e9-94b5-103c40e4c25b.png)

ps：我们测试了同时发几个文件 这些都没问题 主要就是通过还有验证的时候跟回复消息的时候有时候会退出登录

[2019-01-25 18:22] lijiarui commented on #1698
Which puppet are you using?

[2019-01-25 22:05] lijiarui commented on #1693
It seems there isn't any questions about this issue, I will close this issue then.

[2019-01-26 09:45] TamirTian commented on #1602
+1
[code]

[2019-01-26 13:40] huan commented on #1699
Please move this issue to the wechaty-puppet-padchat repository.

[2019-01-30 08:30] zaoqi-unsafe opened #1703 "这是什么"
npm:

[2019-01-30 08:55] zaoqi-unsafe commented on #1703
v0.22.6 is starting...
16:53:29 ERR PuppetPuppeteerBridge start() exception: Error: Chromium revision is not downloaded. Run "npm install" or "yarn install"
16:53:29 ERR PuppetPuppeteer initBridge() exception: Error: Chromium revision is not downloaded. Run "npm install" or "yarn install"
16:53:29 ERR PuppetPuppeteer initBridge() this.bridge.stop() rejection: Error: no page
16:53:29 ERR PuppetPupp

[2019-01-30 10:11] travelk opened #1704 "如果是新注册的账号扫描了二维码，wechaty可以检测出来么"
我知道新的账号不能使用，不过我想给个提示，有没有办法检测到？

[2019-01-30 10:13] travelk commented on #637
打包的时候把asar关闭就可以了

[2019-01-30 17:11] lijiarui commented on #1704
Set Wechaty_LOG=silly and following the log, you can find how to detect.

Also, pr is welcome

[2019-01-30 17:13] lijiarui commented on #1703
Please follow the issue template, or we could not help you since there isn't enough information.

I will close this issue and feel free to open a new one with issue template, thanks!

[2019-01-30 17:13] #1703 closed

[2019-02-11 09:35] blissCheng opened #1706 "Failed to launch chrome in CentOS"
**When starting on the CentOS:**

[code]

**I checked the path:**

[code]
**chrome exists but not want the script expects**

[2019-02-11 09:37] blissCheng commented on #1706
node version 11.9.0

[2019-02-12 05:20] secreter commented on #1618
(node:38) UnhandledPromiseRejectionWarning: Error: unknown msg: FileBox#Url<reply.jpg>
    at AnotherOriginalClass.<anonymous> (/wechaty/dist/src/user/message.js:388:23)
    at Generator.next (<anonymous>)
    at /wechaty/dist/src/user/message.js:7:71
    at new Promise (<anonymous>)
    at __awaiter (/wechaty/dist/src/user/message.js:3:12)
    at AnotherOriginalClass.say (/wechaty/dist/src/user/m

[2019-02-13 03:27] secreter commented on #1602
+1
几小时后
17:47:54 WARN PuppetPuppeteerBridge stop() page.close() exception: Error: Protocol error: Connection closed. Most likely the page has been closed.

[2019-02-14 10:17] secreter commented on #1602
13:46:40 ERR PuppetPuppeteer contactRawPayload(@561421ee31f7d8dd904549b9554c2319e5415d24748ee52fdc1440b82bdf72e3) exception: Protocol error (Runtime.callFunctionOn): Session closed. Most likely the page has been closed.
13:46:40 ERR PuppetPuppeteer contactRawPayload(@cef75d8e51a28e66c87449acaa64292d39f4e98f58257507f4ed18fab25db36c) exception: Protocol error (Runtime.callFunctionOn): Session closed

[2019-02-21 02:56] Arielce opened #1708 "npm start 到 puppeteer@1.12.2 报错。。。"
到 npm start 的时候安装 puppeteer。报错。

I:wechaty-getting-started ce$ npm install

npm notice created a lockfile as package-lock.json. You should commit this file.
added 95 packages from 126 contributors in 8.302s
I:wechaty-getting-started ce$ npm start

10:32:45 INFO Wechaty <default> start() v0.22.6 is starting...
10:32:45 INFO PuppetManager install(wechaty-puppet-puppeteer@^0.14.1) please wait ...
npm

[2019-02-21 03:00] lijiarui commented on #1708
Please follow issue template, or we cannot solve the issue for you.

[2019-02-21 03:01] #1708 closed

[2019-02-21 03:55] Arielce commented on #1708
关就关吧，其实汉语已经描述很清楚了。在v10.15.0的node版本下，npm start的时候报错了。

[2019-02-24 05:38] lijiarui opened #1709 "Add enhancement API"
Just track here:

- [ ] Sync silent room with mobile  https://github.com/botorange/xiaoju-bot-pc/issues/266
- [ ] Add tag. See #1627
...

[2019-02-25 13:00] xuanmiao-zero commented on #1668
1. Introduce Yourself(who you are): JS developer
2. Explain the Problem You Want to Solve:(what you do): research WeChat robotics solutions
3. Are Your Bot Related with the Following Tasks? (YES/NO) NO
  * Gambling
  * Adault & Sex
4. Your Email: xuanmiaozero@gmail.com
5. Your Wechat: only-love-xuanmiao
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from [README.md](https:

[2019-02-27 10:21] chelsh opened #1711 "wechaty-puppet-padpro 群里面拿不到非好友的微信号？"
wechaty-puppet-padpro 群里面拿不到非好友的微信号？是否可以支持下啊，我们现在很需要啊，因为用户不喜欢填手机号码，我们想在每条信息上自动附上群用户的微信号的，现在非好友拿不到微信号，很痛苦啊。

[2019-02-27 12:44] huangyanyang commented on #1668
#### 1. Introduce Yourself(who you are):黄燕羊
#### 2. Explain the Problem You Want to Solve:(what you do):我想一键加群好友
#### 3. Are Your Bot Related with the Following Tasks? (YES/NO)
* Gambling
* Adault & Sex
NO
#### 4. Your Email: 930256283@qq.com
#### 5. Your Wechat: hyy18320055362
#### 6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from [README.md](https://github.com/Chatie/w

[2019-02-28 03:08] lijiarui commented on #1711
Sorry, we won't support this feature.

[2019-02-28 06:24] ImHUan opened #1712 "小桔机器人挺好用，希望详细对比WeTools，并分享开发Roadmap，谢谢"
**Is your feature request related to a problem? Please describe.**
无关联问题

**Describe the solution you'd like**
刚用了 https://wechat.botorange.com/  挺好用的。我们正在用WeTools很久了，小桔这种不用挂机的网页端显然更加灵活。目前考虑迁移的可行性，希望能有一个详细的功能对比表格，以及独家功能的演示视频。以供参考。

**Describe alternatives you've considered**
另外，目前新版功能只有【用户信息标注、聊天、群发】，希望能了解其他旧版功能、以及接下来开发新功能的周期，看看是否能配合得上我们的业务和技术路线，以便考虑是否从WeTools方案整体迁移过来

**Additional context**
建议新建个

[2019-02-28 06:31] lijiarui commented on #1712
remove to https://github.com/botorange/xiaoju/issues/1

Thanks for your suggestion!

[2019-02-28 06:31] #1712 closed

[2019-03-01 02:03] zhaizong commented on #1668
@xuanmiao-zero @huangyanyang Your applications are approved. Please check your email inbox for the next steps.

Welcome!

[2019-03-01 07:58] TbhT commented on #1690
I will fix these later .

[2019-03-01 08:09] seanxlliu commented on #1530
### 1. Introduce Yourself(who you are): CTO of a startup
### 2. Explain the Problem You Want to Solve:(what you do): Natural language
### 3. Are Your Bot Related with any of the _Gambling_, _Adult/Sex_ Tasks? (YES/NO) No
### 4. Your Email: little_deer@hotmail.com
### 5. Your Wechat: xiaolu79425
### 6. I Had Read the Tutorial at [PuppetIoscat usage](https://github.com/linyimin-bupt/wechaty-puppet-i

[2019-03-01 08:28] seanxlliu commented on #1698
I am using the default puppet `Wechaty.instance()`. Got the same behavior. The message shows '@' but it was just plaint-text.

[2019-03-01 08:32] TbhT commented on #1690
[here](https://github.com/Chatie/wechaty/pull/1713)  is the pr . :)

[2019-03-02 00:30] lijiarui commented on #1698
Please follow the issue template, and we will dig into it. Thanks!

## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

[2019-03-02 00:33] lijiarui commented on #1530
Sorry all, we haven't published this puppet yet for some reason, please move to https://github.com/Chatie/wechaty/issues/1668

I will reopen this issue when we launch this puppet.

Thanks!

[2019-03-02 00:33] #1530 closed

[2019-03-02 00:50] shijunti19 commented on #1668
1. Introduce Yourself(who you are):JS developer
2. Explain the Problem You Want to Solve:(what you do):我想微信提示
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling
Adault & Sex
NO
4. Your Email: 527528007@qq.com
5. Your Wechat: shijunti19
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (Please join the group if you are not, and then say YES at

[2019-03-02 00:59] #1693 closed

[2019-03-02 08:50] BoltDoggy commented on #1711
群里也拿不到非好友的性别 / 省份 / 城市

[2019-03-02 08:51] lijiarui commented on #1711
@BoltDoggy  Yes, you are right, and we won't support this at the near future.

[2019-03-03 14:10] frankgo81 commented on #1682
![image](https://user-images.githubusercontent.com/33563058/53696311-ac1cc700-3e00-11e9-9e84-dde988da7ef7.png)
The QR code generated on terminal is NOT recognizable by your phone..because of the resolution..you need to copy and paste the generation URL on your browser and scan from there...

[2019-03-04 02:18] gengchen528 commented on #1668
1. Introduce Yourself(who you are): JS and node developer
2. Explain the Problem You Want to Solve:(what you do):  自动拉群及语音发送功能
3. Are Your Bot Related with the Following Tasks? (YES/NO) NO
Gambling
Adault & Sex
4. Your Email: 478914121@qq.com
5. Your Wechat: CG12104410
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (Please join the group if you are not, and

[2019-03-04 09:05] seanxlliu commented on #69
Awesome work!

[2019-03-04 09:23] huan commented on #69
Thank you @seanxlliu .

Did you use wechat4u before?

[2019-03-04 09:35] seanxlliu commented on #69
Never used yet, so I meant the efficiency of this work is very impressive. I would like to contribute to this project too, testing or coding. Just switch to this puppet due to the default puppet's limitation, room contact is incorrect.

However, I just hit some assert failures when using after switching to this one. Maybe it out of date. I am filing a bug now.

[2019-03-04 10:24] OstKakalo commented on #1706
I have the same problem.

[2019-03-04 12:35] OstKakalo commented on #1706
yum install Instal some dependencies solves this problem
pango.x86_64
libXcomposite.x86_64
libXcursor.x86_64
libXdamage.x86_64
libXext.x86_64
libXi.x86_64
libXtst.x86_64
cups-libs.x86_64
libXScrnSaver.x86_64
libXrandr.x86_64
GConf2.x86_64
alsa-lib.x86_64
atk.x86_64
gtk3.x86_64
ipa-gothic-fonts
xorg-x11-fonts-100dpi
xorg-x11-fonts-75dpi
xorg-x11-utils
xorg-x11-fonts-cyrillic
xorg-x11-fonts-Type1
xo

[2019-03-05 07:24] orangex opened #1714 "got no payload error when contact.alias('xx')"
## 1. Versions
- What is your wechaty version?
Answer: 0.22.6

- Which puppet are you using for wechaty? (padchat/puppeteer/padpro/...)
Answer: PuppetPuppeteer

- What is your wechaty-puppet-XXX（padchat/puppeteer/） version?
Answer: wechaty-puppet-puppeteer@0.14.6

- What is your node version? (run `node --version`)
Answer:v10.15.1

- What os are you using
Answer: mac os

## 2. Describe the bug
![i

[2019-03-05 07:51] lijiarui commented on #1714
You should accept the friendship first, and then you can alias a contact.

[2019-03-06 04:34] hoo-ge opened #1715 "WARN PuppetPuppeteer roomRawPayload() currLength(-1) <= prevLength(0) ???"
## 1. Versions
- What is your wechaty version?
Answer: 0.23.40

- Which puppet are you using for wechaty? (padchat/puppeteer/padpro/...)
Answer: puppeteer

- What is your wechaty-puppet-XXX（padchat/puppeteer/） version?
Answer: puppeteer

- What is your node version? (run `node --version`)
Answer: 11.0

- What os are you using
Answer: macOS

## 2. Describe the bug
rename room topic error.

# 6. Ful

[2019-03-06 06:33] cuiweipeng opened #1716 "关于win7安装 npm install wechaty-puppet-padpro 的问题"
🚨 The issue tracker is not for questions 🚨
你好，这个安装的时候 报错

[2019-03-06 11:58] zhaizong commented on #1668
@shijunti19 @gengchen528 Your applications are approved. Please check your email inbox for the next steps.

Welcome!

[2019-03-06 21:30] lijiarui commented on #1716
Important：Please file the issue follow the template, or we won't help you to solve the problem.
I will close this issue, feel free to file a new issue with the issue template.

## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been s

[2019-03-06 21:30] #1716 closed

[2019-03-06 21:32] lijiarui commented on #1715
We need the reproduce code: a minimum code can run directly and reproduce your bug.

[2019-03-07 01:14] hoo-ge commented on #1715
Thank you very much for your reply.

My steps are as follows:
1. git clone https://github.com/wechaty/wechaty-getting-started.git
2. npm install
3. npm start
4. scan qrcode
5. in wechat (macOS) rename room name
6. Program prompt error
[code]

**This process does not make any modifications to the program**

[2019-03-07 01:58] gengchen528 commented on #1668
thank you

[2019-03-08 03:46] orangex commented on #1714
你是指friendship.accept完成后就可以为其备注了吗？现在我在收到 friendship.confirm（这应该在 accpet之后）之后才 alias，然而又报了别的错。
`11:36:37 SILL Contact alias(name() {
        return this.payload && this.payload.name || '';
    }-5c81e359fe88c200657de2a4)
11:36:38 WARN PuppetPuppeteer contactRemark(@05415fbc8463cdf75f790707e128d1fc31c1174cc7cd0f65b2ffc4075e199008, name() {
        return this.payload && this.payload.name || '';
    }

[2019-03-08 07:44] lijiarui commented on #1714
You should try to add accept and try again.

[2019-03-08 07:47] orangex commented on #1714
我上条的意思只是说我在 confirm 的时候去备注，并没有说我没 accept。我当然是accept 过的。这会又试了一遍，还是一样。

lijiarui <notifications@github.com> 于2019年3月8日周五 下午3:44写道：

[2019-03-10 13:55] heng19970427 commented on #1668
1. Introduce Yourself(who you are): python,java developer
2. Explain the Problem You Want to Solve:(what you do):1,获取所有标签;2,给好友设置标签;3,根据标签获取该标签下的好友
3. Are Your Bot Related with the Following Tasks? (YES/NO)NO
Gambling
Adault & Sex
4. Your Email:xiaoliu@gmail.com
5. Your Wechat:LW52071
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: YES
7. I understand that t

[2019-03-11 04:52] zyfrog opened #1717 "有没有针对企业微信App的登录和收发消息的方案啊？"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[question]

[2019-03-11 09:23] TbhT commented on #1547
I  had fixed this bug and will make a PR later .

[2019-03-11 09:23] #1547 closed

[2019-03-11 16:02] huan commented on #1547
@TbhT Glad to hear that, and please refer to this issue in your PR, thank you very much!

[2019-03-11 16:03] huan commented on #1717
See: #1684

[2019-03-11 22:27] windmemory opened #1718 "Mention api add @ automatically no matter it is already exists in the text"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer: 0.23.40

- Wh

[2019-03-11 22:31] windmemory commented on #1718
I would suggest two ways of solving this
* Process the text and try to fetch the contact the is at from the text then decide whether append an `@` at the beginning of the text
* Add another parameters to let `wechaty` know whether to add the `@` at the beginning of the text.

Personally I would prefer the second one, since the first one is not stable, it requires the name has to be exactly the sam

[2019-03-11 22:31] windmemory commented on #1718
@huan Let me know which one you prefer, I would like to PR for this issue.

[2019-03-12 02:24] lijiarui commented on #1714
I didn't see `accept` in your reproduce code.

Please show me the minimum reproduce code.

Here is the official doc example in https://docs.chatie.io/api/friendship

[code]

[2019-03-12 04:30] huan commented on #1718
I have one question for this issue: what's your purpose for doing the following task?

I do not think I'll do this. Instead what I'll do is:

Please help me understand your situation and I'd like to help you to get a fix for this issue.

[2019-03-12 07:51] windmemory commented on #1718
We are trying to put the `@` in the middle of the text, something like this:
[code]

So basically this is not possible currently with the existing `wechaty` api, so I am filing this issue.

[2019-03-12 08:19] huan commented on #1718
That makes sense.

I'll think about your purpose and come back to you later.

[2019-03-12 08:24] windmemory commented on #1718
Thanks very much @huan , u r the best.

[2019-03-13 03:10] z372183629 opened #1720 "wechaty-puppet-padpro 获得的语音消息文件是slk格式"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

通过web api获取到的语音格式是mp3类型的，pad pro获取的是slk格式，没法儿解码。请问各位有什么处理方法吗。

[2019-03-13 06:35] cuiweipeng opened #1721 "你好,关于wechaty.say("ddd")中的信息,是经过你们的服务器再转到微信服务器吗"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[question]

[2019-03-13 06:35] cuiweipeng commented on #1721
我debug了 但是没找到...

[2019-03-13 07:31] #1720 closed

[2019-03-13 08:14] #1717 closed

[2019-03-14 03:01] hoo-ge commented on #1691
遇到了同样的问题，room.sync()后也无法更新wechaty的群名，必须重新扫描登录
![image](https://user-images.githubusercontent.com/5013572/54328342-81284380-4648-11e9-9037-0bebe2c24a2c.png)

[2019-03-14 08:03] Goldbeener commented on #1330
I'v met the same case with the default puppet in wechaty@0.22.6.  Do i use the wrong version?

[2019-03-14 08:56] windmemory commented on #1721
不同puppet有不同的实现

[2019-03-14 08:57] windmemory commented on #1718
kindly ping @huan

[2019-03-14 09:29] cuiweipeng commented on #1716
感谢回复，我用 ubuntu了。。  window的确不好安装。。

[2019-03-14 09:29] cuiweipeng commented on #1716
感谢回复，我用 ubuntu了。。 window的确不好安装。。

[2019-03-14 16:05] huan commented on #1718
I'm afraid that I would not like to add another parameter for specifying whether to include the mentioned contact name in the message because that will make things complicated.

How do you think the following syntax? We can use the ES6 templated strings which support **Tagged Templates**:

[code]

You can learn more about the Tagged Templates for ES6 at [here](https://developers.google.com/web/upd

[2019-03-14 18:50] windmemory commented on #1718
I understand that you want to make apis simple, but since the function getting more and more complex objectively, I don't think there is a way to keep the function simple and easy to use at the same time. If we add another parameter to the func, we can easily explained to them and the only thing they need to know is the difference between auto generate `@` and not auto generate. However if we add

[2019-03-15 02:39] huan commented on #1718
1. I don't think the `Tagged Templates` is a problem, because it was the standard of ES6 version of JavaScript.
1. You need to provide a `contact` to the `say` method in your purpose too.

[2019-03-15 04:59] windmemory commented on #1718
But the text in `say` function is just a string, without variables, and it is exactly the same as the one that sent out. That would make less confusion IMO.

With the `Tagged Templates` what the code will be looked like? Could you please put a demo?

[2019-03-15 06:17] huan commented on #1718
No, it's not.

You need to understand the Tagged Templates first, please see the links that I provided to you in the earlier reply.

Then we can be able to continue discussing how to implement your new feature request.

[2019-03-15 09:12] windmemory commented on #1718
I understand what the Tagged Templates are, could you please provide a demo code showing how that works with the mention function?

[2019-03-15 09:19] huan commented on #1718
I don't think you had understood, because I had already demonstrated it very clearly in the previous post:

That's it! :)

[2019-03-15 09:25] windmemory commented on #1718
Could you explain to me how to make the text to be a variable and pass it from somewhere else into the say function?

Say I have a service A want to tell my bot to say `Hello @X, nice to meet you` in a room, what should I do? There might be a function like below:
[code]

[2019-03-15 10:51] huan commented on #1718
[code]

[2019-03-15 11:00] windmemory commented on #1718
I don't want the text to be fixed inside the function, I might have multiple sentence to say, like
* Hi @A, here is @B
* Good morning, @A
* It's really nice to meet you @A, let's catch up later

So that means the template has to be a variable, could you please show me how to do that?

I **DO** understand what is `Tagged template` and the I **HAVE READ** all your comments carefully, including the l

[2019-03-16 05:59] lhr0909 commented on #1718
Tagged template imposed a big stress in the developer side, and forces them to stick with JS for their development. I feel that we could do the same thing by passing in `contactId` in a parseable format so as long as users know how to pull `contactId`s out from message payload, they can construct a nice templated message without knowing too much of advanced / new JS.

[code]

[2019-03-16 16:00] huan commented on #1718
@lhr0909 Yes, your suggestion is the point what we should consider about.

However, can you share some opinion from your knowledge on the Tag Template first? Because it seems that you are familiar on that.

After we made the Tag Template clear enough, then we will be able to talk future about how to make developer from other languages happy.

[2019-03-16 19:54] windmemory commented on #1718
@huan We are trying to build a chat box for our user to talk with their friends, we want to give our user the ability to mention someone in the room, so our user will input a text, in a human readable way, then we process the text, pass to wechaty and send out in wechat. If we embedded the contact id or something into the text, then we need to maintain two versions of text at the same time, one is

[2019-03-17 10:57] huan commented on #1718
@windmemory Slorry I could not be able to understand your needs according the information you provided in the last replies.

Will go back to read them again when I have time.

[2019-03-17 14:21] windmemory commented on #1718
@huan Yeah, I think I did a bad job on expressing my situation clearly in my previous comments. Thanks for your understanding, and let's make something that well considered and friendly to use.

[2019-03-19 05:11] hoo-ge commented on #1691
找个一个临时的解决方法，每次触发room-topic事件后，用room.say()发言，这样room.topic()获取的群名就变成新的了。

[2019-03-20 06:03] LiuWeiMr opened #1722 "运行"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:0.22.6

- Whic

[2019-03-20 07:54] huan commented on #1722
When you have not enough memory, this might happen.

Please try to increase the memory in your server and try again.

[2019-03-20 08:06] LiuWeiMr commented on #1722
![image](https://user-images.githubusercontent.com/17976666/54668528-15534880-4b2a-11e9-8914-132df0df3655.png)

[2019-03-25 09:08] xiaoqiuGit opened #1724 "message.mentionSelf()"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:

- Which pupp

[2019-03-25 09:08] #1724 closed

[2019-03-25 09:35] xiaoqiuGit opened #1725 "await message.mentionSelf() is invalid"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:0.22.6

- Whic

[2019-03-28 09:51] Liusq-Cindy opened #1727 "How long can the Wechat Robot stay "logged in"？（微信机器人可以保持登录状态多长时间？）"
I have start a wechaty robot.

In my code, i use the sentence:"const bot = Wechaty.instance({ name: 'default' })" to create a default.memory-card.json file to store the landing information, and the robot can login automatically through this file.In this pason file, there are many expires message, is it means the login state will expires and my robot will be offline automatically at the appointed t

[2019-03-28 19:01] windmemory opened #1728 "Recalled message design"
**Is your feature request related to a problem? Please describe.**
Add new message function for recalled message

**Describe the solution you'd like**
The design would be like below
### For recalled message
* It will have a different message id from the original message
* The type for the message will be `Recall`
* There will be a new method named `recalled` to be added to the `Message` class and

[2019-03-29 01:34] huan commented on #1727
This memory-card file will be updated automatically when your bot is keeping running.

[2019-03-29 17:43] huan commented on #1728
Related to: https://github.com/Chatie/wechaty-puppet-puppeteer/issues/31#issuecomment-470789051

@windmemory Please feel free to connect other related issues as well.

[2019-03-30 07:42] windmemory opened #1730 "BREAKING CHANGE v0.25 Room.say(text: string, mention: Contact[]) deprecated"
## BREAKING CHANGE:

`room.say()` function no longer accept arguments like below:
[code]
## Alternative solution
To mention multiple contacts when sending out text messages, there are two new ways of doing that:
#### `room.say(text: string, ...mentionList: Contact[])`
Sample code:
[code]
Send out text will be
[code]

#### Tagged Template
Sample code:
[code]
Send out text will be
[code]

#### Refer

[2019-04-05 12:12] harefield opened #1733 "需要一个能列出待审核好友请求的功能（而且得能对请求进行accept等操作）"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
TX对微信账号管理愈发严格，无论是大量主动添加好友或者被动通过好友请求，都会引发封号的情况发生。

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
需要能够读取待审核的好友请求，这样通过定时任务可以定时定量的审批好友请求，不至于被封号

**Describe alternatives you've considered**
A cl

[2019-04-05 16:41] psfr937 opened #1734 "Is there a way to send message to a contact instead of making a reply using say()?"
**Problem:**
I would like to send a message to a contact in one-to-one chat instead of making a reply.
If I understand correctly, say() can only send a reply to the sender or in a room with @mention.
So if I have a contact's id, is there a way I can initiate a one-to-one chat message to that contact instead of requiring a sender to send a message to the bot first?

**Possible solution:**
Do you th

[2019-04-05 19:35] #1734 closed

[2019-04-06 14:12] zhouyu1993 commented on #1578
Web, PuppetPuppeteer,

`bot.Friendship.add` doesn't work.

[2019-04-07 02:41] hfcheng66 commented on #1727
我试过用itchat的机器人，一般几天就需要重新扫码登陆了。 不知道这个限制是微信网页版的限制还是itchat有问题？

用wechaty的PuppetPuppeteer做的微信机器人能够长时间在线吗？

[2019-04-10 13:51] psfr937 opened #1736 "How to get the sender's real wechat Id instead of weixin id (wxid) from a message?"
I am using ```wechat-puppet-padchat``` for the puppet in wechaty.
 When I check James from the wechat app, it shows "james321", which is not surprising because weChat do let user change their id once. However, when James sends me a message and I use ```m.from().id``` in the Message object, it only shows for example wxid_bz4eto56p2g399.

I can confirm wxid_bz4eto56p2g399 and "james321" represents t

[2019-04-10 16:41] psfr937 commented on #1736
similar to #1307, #1647, #1658

[2019-04-10 17:01] psfr937 commented on #1736
It seems that I always get null from ```Contact.weixin``` .  Is there a way I can know the real wechat Id from the wxid shown in the Message object?

[2019-04-11 09:58] shmilyoo commented on #1727
same question.
can the bot keep online?
or is there some mechanism to restore the online state immediately whenever the bot logout.

[2019-04-11 23:20] shmilyoo commented on #1668
#### 1\. Introduce Yourself(who you are):
js developer

#### 2\. Explain the Problem You Want to Solve:(what you do):
help me to manage private group and do some reminder affair

#### 3\. Are Your Bot Related with the Following Tasks? (YES/NO)

*   Gambling
*   Adault & Sex
NO

#### 4\. Your Email:
fighter_yy@qq.com

#### 5\. Your Wechat:
yyxyygp

#### 6\. I Had Joined the Wechaty Developers' Home

[2019-04-12 02:05] shijianzhong commented on #1706
**run this command can solve this problem**

yum install pango.x86_64 libXcomposite.x86_64 libXcursor.x86_64 libXdamage.x86_64 libXext.x86_64 libXi.x86_64 libXtst.x86_64 cups-libs.x86_64 libXScrnSaver.x86_64 libXrandr.x86_64 GConf2.x86_64 alsa-lib.x86_64 atk.x86_64 gtk3.x86_64 -y

[2019-04-12 11:34] lijiarui commented on #1727
This depends on which puppet are you using.

If you use web protocol, it may stay only for a few days depends on your wechat account.

If you use ipad protocol, it may stay for several months depends on your wechat account.

[2019-04-12 11:48] lijiarui commented on #1736
Which puppet are you using?

If you use puppeteer, it cannot get wechat ID.

If you use padpro, it can get wechat ID.

See [Wechaty Puppet Compatibility](https://docs.chatie.io/puppet#3-1-puppet-contact-api)

[2019-04-12 11:49] lijiarui commented on #1733
Sorry, we won't enhance this in the near future.

[2019-04-12 12:04] lijiarui commented on #1691
是的，这是一个很好的解决方案！

[2019-04-12 18:41] huan opened #1737 "Integrate Wechat with Matrix with the power of Wechaty"
[Matrix](https://matrix.org/blog/index) is like [Pidgin](http://pidgin.im) on your Phone.

Pidgin try to IM all your friends in one place in Linux, and with Matrix you can have your Phone clinet with your private server which is highly customized. Matrix did not use XMPP protocol, it's server uses REST so that it could be more easy to extend.

This week I had a great talk with YC partner Eric @eri

[2019-04-12 18:42] huan opened #1738 "Integrate Wechat with Matrix with the power of Wechaty"
[Matrix](https://matrix.org/blog/index) is like [Pidgin](http://pidgin.im) on your Phone.

Pidgin try to IM all your friends in one place in Linux, and with Matrix you can have your Phone clinet with your private server which is highly customized. Matrix did not use XMPP protocol, it's server uses REST so that it could be more easy to extend.

This week I had a great talk with YC partner Eric @eri

[2019-04-13 02:44] huan commented on #1738
Duplicated with #1737 due to slow mobile phone network.

[2019-04-13 02:44] #1738 closed

[2019-04-13 15:02] ericmigi commented on #1738
Let's do it! :)

[2019-04-13 15:03] ericmigi commented on #1737
Let's do it! :)

[2019-04-14 00:21] huan commented on #1733
@harefield Thanks for the suggestion!

It's a good feature request, I'd like to add this feature if there will have someone implmentated it by submiting a PR.

[2019-04-14 00:25] huan commented on #1725
Close this issue due to the leak of basic information.

[2019-04-14 00:25] #1725 closed

[2019-04-14 14:57] LeoMoonStar opened #1739 "Documentation网站挂掉了"
看了两三天了，api的网站挂了好久

[2019-04-14 21:32] Superskyyy commented on #1739
我也发现了 但可以这样访问到 https://docs.chatie.io/

[2019-04-15 01:26] huan commented on #1739
FIxed.

https://chatie.io/wechaty

[2019-04-15 03:32] lijiarui commented on #1668
Hi all
Please contact the following wechat to get the testing token, no need to

contact:
![](https://github.com/botorange/wechaty-puppet-padpro/raw/master/image/contact.gif)

[2019-04-15 09:08] Liusq-Cindy opened #1740 "wechat warn:WARN PuppetPuppeteer roomRawPayload() currLength(-1) <= prevLength(0) ???But if i change another wechat account, it is running normally.（微信机器人报错，无法收取群消息，但换一个微信账号登录则没有这个问题）"
My wechaty version is ^0.22.6
    when I log in with my own wechatl account and didn't do anything, the robot can't show the rooms messages but only show warning as:
![image](https://user-images.githubusercontent.com/41781513/56119642-1ba8d900-5f9f-11e9-89ca-689802897520.png)
![image](https://user-images.githubusercontent.com/41781513/56120582-fb7a1980-5fa0-11e9-92f2-d8aa4f02e61e.png)

    I have

[2019-04-15 23:34] #1739 closed

[2019-04-15 23:37] huan commented on #1728
@windmemory Please close this issue if there's no more work needs to do on it.

[2019-04-16 01:10] windmemory commented on #1728
Close this issue since the feature is implemented. Thanks for the help @huan

[2019-04-16 01:10] #1728 closed

[2019-04-16 01:15] windmemory commented on #1733
@huan So for this feature, seems like we could just add a `bot.Friendship.list()` function to popup all the friendship events before, with corrected type, then the problem is solved, am I right?

[2019-04-16 02:07] huan commented on #1733
Thanks for your design for that. And yes, this API design looks good to me.

I believe the `list()` function should call the underlining Puppet Implementation to get the actual List out.

[2019-04-16 02:27] windmemory commented on #1733
I agree. Do you have any idea of what should the method name be for `wechaty-puppet`? Like `friendshipList`?

[2019-04-17 11:43] Liusq-Cindy opened #1742 "how to use room.memberAll（）to @ some menbers in Room, rather than one person or all members？()"
we have know than use room.memberAll([query]) ⇒ Promise.>  could find one person or all members in room , which depends on what query is. such as:
![image](https://user-images.githubusercontent.com/41781513/56284598-8268f680-6147-11e9-8ab5-f1c4534b0ae6.png)

    In my code, i use it to get someone's Contact
![image](https://user-images.githubusercontent.com/41781513/56284665-c22fde00-6147-11e9-8c6

[2019-04-17 12:16] Liusq-Cindy commented on #1742
I have found a solution , **`room.memberAll`** the person one by one, and then use `**.concat**` to link these array

[2019-04-17 12:21] renwfy opened #1743 "onScan事件后，长时间不扫描二维码，二维码会失效。这时候只能重启机器人或手机端退出登录，再重新获取二维码"
## 0. 发 Issue 指南

1. 请运行下面的命令，看问题是否可以被解决：
[code]

2. 请在 [FAQ 清单](https://docs.chatie.io/v/zh/faq) 看是否已有解决办法。

3. 请先在issue 中搜关键信息，确认你要发的内容和之前的issue 不重复。

## 1. 提供你的包版本信息
- wechaty 版本：0.22.6
- wechaty-puppet-padpro 版本：0.0.57
- node 版本： 10.15.3
- 你使用的操作系统：linux

## 2. Bug 描述
onScan事件后，长时间不扫描二维码，二维码会失效。这时候只能重启机器人或手机端退出登录，再重新获取二维码

## 3. 复现的步骤 (或者解决的步骤)
**这一部分非常重要，如果你无法给出复现步骤，我们也很难提供相应的解决办法：**

复现步骤中一定

[2019-04-17 12:29] renwfy opened #1744 "Friendship.add（），删除好友关系后，重新加好友，一直提示 has been friend with bot, no need to send friend request!"
## 0. 发 Issue 指南

1. 请运行下面的命令，看问题是否可以被解决：
[code]

2. 请在 [FAQ 清单](https://docs.chatie.io/v/zh/faq) 看是否已有解决办法。

3. 请先在issue 中搜关键信息，确认你要发的内容和之前的issue 不重复。

## 1. 提供你的包版本信息
- wechaty 版本：0.22.6
- wechaty-puppet-padpro 版本：0.0.57
- node 版本： 10.15.3
- 你使用的操作系统：linux

## 2. Bug 描述
Friendship.add（），删除好友关系后，重新加好友，一直提示，has been friend with bot, no need to send friend request!
重新同步数据也无用

## 3. 复现的步骤 (或者解决的步骤)

[2019-04-17 14:41] psfr937 commented on #1736
Thanks. I have changed from Padchat puppet to Padpro puppet and it works.

[2019-04-17 14:41] #1736 closed

[2019-04-17 22:14] huan commented on #1742
Related to: #1718

[2019-04-18 01:58] Liusq-Cindy commented on #1742
okay，thank you

[2019-04-18 04:22] oday0311 opened #1745 "Can the receive the recall " room-leave"."
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:

0.23.40

- W

[2019-04-19 05:58] sunnyboyi commented on #1740
我也遇到这个问题了  要换微信号才能发消息   这个问题要这么解？

[2019-04-19 08:26] linyimin-bupt opened #1746 "Comment: Example code error"
## 1. Versions
- What is your wechaty version?
Answer:

mater branch

## 2. Describe the bug

Comment Error:

In user/contact-self.ts file, the example code of name.

[code]

We should use the `name` method, not the `setName`

[2019-04-19 10:01] linyimin-bupt opened #1748 "Missing comment example code in contact.ts file"
1. Versions
What is your wechaty version?
Answer:
mater branch

2. Describe the bug
Missing comment example code :

In user/contact.ts file,  the `say` method supports UrlLink, but there is no example code.

[2019-04-19 12:53] linyimin-bupt opened #1751 "Missing comment example code in room.ts file"
Versions
What is your wechaty version?
Answer:
mater branch

Describe the bug
Missing comment example code :

In user/room.ts file, the say method supports UrlLink, but there is no example code.

[2019-04-19 14:33] azui007 opened #1753 "登陆二维码无法识别"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:最新的版本

- Which

[2019-04-20 03:23] #1746 closed

[2019-04-20 03:24] huan commented on #1746
Thanks!

[2019-04-20 03:24] huan commented on #1748
Thanks!

[2019-04-20 03:24] #1748 closed

[2019-04-21 08:13] cleverphp commented on #1578
lijiarui，你是女的吗？好美啊，可以认识下吗？

[2019-04-22 06:07] gracian37 opened #1754 "bot运行一段时间后，发送的消息别人就接收不到了"
每次发送1-5条数据不等，每条间隔10秒钟发送。运行一段时间后就会出现对方收不到消息的问题，想请教下，大概是什么问题？谢谢

[2019-04-22 06:41] jh11200 opened #1755 "无法自动通过好友请求"
[my code]
[code]
[error]
[code]

[2019-04-22 06:41] jh11200 commented on #1755
我是直接从官网复制的啊。。。是不是网页版本的不支持好友通过？

[2019-04-22 07:11] linyimin-bupt opened #1756 "Missing example code"
Versions
What is your wechaty version?
Answer:
mater branch

Describe the bug
Missing comment example code

The `say` method supports `UrlLink`, but there is no example code.

[2019-04-22 07:36] yuqingc opened #1758 "Could you please upgrade dependency for wechaty-puppet-puppeteer"
Ther current dependency of wechaty-puppet-puppeteer is really outdated, which has some bugs. For instance, a bug fixed by https://github.com/Chatie/wechaty-puppet-puppeteer/pull/75

wechaty-puppet-puppeteer has released its new version of 0.15.4. (I'm not sure if this version includes the pr I mentioned above) Could you please upgrade the dependency for wechaty?

Related issue: https://github.com/

[2019-04-23 02:25] #1755 closed

[2019-04-23 02:27] jh11200 commented on #1755
不好意思，我有仔细看了下，发现没有导入类……。失误失误，我nodejs用的不好

[2019-04-23 13:46] lijiarui commented on #1754
请按照模板填写，感谢！

[2019-04-24 06:42] opengpu opened #1760 "[Help]How to send message to a friend of wechat on Windows, called by the other C++ Exe?"
[Help]How to send message to a friend of wechat on Windows, called by the other C++ Exe?

[2019-04-24 17:31] huan commented on #1758
The wechaty@0.25.11 will use the wechaty-puppet-puppeteer@0.16.1, which will be the latest code for you.

[2019-04-25 12:17] najibkh commented on #1435
hey , even if i maximised the size i still got the error but with les lines can u help me ?

[2019-04-25 12:20] najibkh commented on #1435
i tried it but i still got the error

[2019-04-25 16:00] windmemory opened #1761 "Build is failing caused by promisify missing arg3"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer: 0.25.11

- Wh

[2019-04-25 16:22] #1761 closed

[2019-04-26 02:11] opengpu opened #1762 "请问可以通过c++程序，调用wechaty给某个好友发消息么？"
【求助】您好，请问可以通过c++程序，调用wechaty给某个好友发消息么？

如果wechaty不行的话，请问您知道有没有其他的库或者办法可以实现这样的功能？
比如通过wxpy，或者自己逆向hook PC版微信？

多谢多谢~

[2019-04-26 05:51] huan commented on #1762
Duplicated with #1760

[2019-04-26 05:51] #1762 closed

[2019-04-26 06:00] huan commented on #1761
Thanks for reporting with the description in detail!

[2019-04-26 06:18] windmemory commented on #1761
Thanks for solving this problem so fast. You are the best.

[2019-04-26 06:55] greenkeeper[bot] opened #1763 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-04-26 08:27] #1763 closed

[2019-04-26 08:58] greenkeeper[bot] opened #1764 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-04-26 16:10] #1764 closed

[2019-04-26 16:40] greenkeeper[bot] opened #1765 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-04-28 13:58] oday0311 opened #1766 "invalid processingToken:make the account logout.."
Important：Please file the issue follow the template, or we won't help you to solve the problem.

0. Report Issue Guide
Please run the following command and check whether the problem has been fixed：
rm -rf package-lock.json
rm -rf node_modules
npm install
Please search in FAQ List first, and make sure your problem has not been solved before.

Please search in the issue first, and make sure your pro

[2019-04-29 02:58] #1766 closed

[2019-04-29 06:44] opengpu commented on #1760
???anybody?

[2019-04-29 08:12] huan commented on #1760
It's not hard to call anything in your C++ code.

For example, you could be able to build a RESTful service in Node.js and wrap Wechaty inside, then you can call REST API in your C++ code.

You can learn more from our Chatie Blog: [Interact Wechaty with Ruby on Rails from scratch](https://blog.chatie.io/interact-wechaty-with-ruby-on-rails-from-scratch/)

[2019-04-29 08:17] opengpu commented on #1760
谢谢。没有直接restful和c++的例子？
到时候是应该把我的c++程序和wechaty都先启动，然后在需要发送消息的时候，有c++调用接口发消息给wechaty？

[2019-04-29 08:18] opengpu commented on #1760
这样同时启动两个程序通信的话，效率如何，因为需要比较迅速的给好友发消息，还需要长时间登陆。

[2019-04-30 06:05] jh11200 opened #1767 "通过微信号、手机号加好友的功能什么时候会有啊？！"
1、通过微信号、手机号加好友
2、获取微信好友的微信号，

这些功能是不是没有？

[2019-05-06 03:52] hjzlm123 opened #1768 "Navigation Timeout Exceeded: 30000ms exceeded"
ERR  PuppetPuppeteerBridge start() Exception: TimeoutError: Navigation Timeout Exceeded: 30000ms exceeded

sometimes  strat  TIMEOUT  for all-day
sometimes  can start success.

what's wrong ?what can i do to reslove this 'time-out'

use node -v 10.0.0 npm -v 5.6.0

[2019-05-06 04:17] hjzlm123 commented on #1768
See doc. "Maximum navigation time in milliseconds, defaults to 30 seconds, pass 0 to disable timeout. "
so, can write {timeout:0} in bridge.js ?

[2019-05-06 12:32] henrycpp commented on #1618
demo现在也不能发送图片了，是微信服务端做了过滤了吗？

[2019-05-06 12:33] henrycpp commented on #1618
大家有遇到不能发送图片的问题吗？

[2019-05-07 01:53] yuqingc commented on #1768
我也经常遇到这个问题，希望可以手动设置超时时间

[2019-05-07 02:12] yuqingc commented on #1618
我也不能发图了，前几天还是可以的。但是 say 函数是可以返回的，没有报错。@huan

[2019-05-07 04:14] windmemory opened #1769 "Room.owner() function is printing log in info level"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:0.25.14

- Whi

[2019-05-07 05:43] huan commented on #1769
Thanks for making Wechaty better!

[2019-05-07 06:04] Papeone opened #1771 "(node:24909) UnhandledPromiseRejectionWarning: TypeError: message.toRecalled is not a function"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-07 06:22] windmemory commented on #1769
@huan my pleasure.

[2019-05-07 06:22] #1769 closed

[2019-05-07 06:23] windmemory commented on #1771
This is not a feature request, and this feature is implemented. You need to upgrade your wechaty to the latest version, use `npm install wechaty@next` to get the latest version.

[2019-05-07 09:09] runME commented on #1618
+1,也是前几天还行,现在不行了 @huan

[2019-05-07 10:09] huan commented on #1618
Which puppet are you using?

I guess you are using the [wechaty-puppet-puppeteer](https://github.com/Chatie/wechaty-puppet-puppeteer)?

[2019-05-07 10:12] yuqingc commented on #1618
我么用的 puppet-puppteer 版本的
@huan 是不是微信关闭了网页版原来的接口了？

[2019-05-07 12:10] huan commented on #1737
## UPDATE May 7

At first, Thanks @ericmigi for introducing @tulir to me. @tulir has very rich experiences with building the matrix bridges such as:
* [A Matrix-Telegram hybrid puppeting/relaybot bridge](https://github.com/tulir/mautrix-telegram)
* [A Matrix-WhatsApp puppeting bridge](https://github.com/tulir/mautrix-whatsapp)

### Room / Bridge Types

According to the [Matrix Bridge Documentation

[2019-05-08 03:35] oday0311 opened #1772 "Event loop blocked for quite ofter and long."
0. Report Issue Guide

  1. Please run the following command and check whether the problem has been fixed：

rm -rf package-lock.jsonrm -rf node_modulesnpm install

  1.
Please search in FAQ List first, and make sure your problem has not been solved before.
  2.
Please search in the issue first, and make sure your problem had not been reported before

1. Versions

   * What is your wechaty version?

[2019-05-08 03:37] oday0311 commented on #1772
wecahty-puppet-padpro/dist/src/manager/padrpo-manager.js
已经尝试 将上面文件中的队列延时 修改到500ms，，，问题依然存在，

[2019-05-08 05:46] wenshenjun commented on #1772
貌似调越小，阻断越大，就算阻断时间小于50ms，收发消息还是很慢。

[2019-05-08 07:31] wenh7788 opened #1773 "friendship回调问题"
1.用户A添加B（机器人），b通过了可以进入到friendship的回调中 这个没有问题
2.用户A删除掉B 再次添加 没有进入到回调
3.b删除用户A 然后A重新添加 没有进入 回调

[2019-05-09 17:30] huan commented on #1772
We had some event loop issues at #1450 #1459 and https://github.com/Chatie/wechaty-puppet/issues/6

Please have a look and let me know if there's something related to them.

Thanks.

[2019-05-10 00:25] huan opened #1774 "New Puppet: MatrixPuppet"
Related to: #1737 #1167
See: https://github.com/matrix-org/matrix-js-sdk

[2019-05-10 10:28] oday0311 commented on #1772
cool, so when is it possible to solve or opt this problem??

[2019-05-10 12:28] huan commented on #1772
Sorry, we have no time to investigate more on this issue recently.

It would be fantastic if you could dig into it and let us know whether you can fix it.

PR will be welcome.

[2019-05-10 16:53] huan commented on #1737
Move to https://github.com/huan/matrix-appservice-wechaty/issues/1

[2019-05-12 10:20] windmemory opened #1775 "Wechaty v0.26 iosBird Testing, an iOS hook puppet implementation!"
Hello to developers who are using Wechaty,

We have excellent news for you: Wechaty New Puppet System is going to ready for testing!, and Alpha Testing Volunteers are open to applications now.

We have launched a new puppet `wechaty-puppet-iosbird` few weeks ago, now we are launching alpha test for `wechaty-puppet-iosbird`.

New puppet `wechaty-puppet-iosbird` is a solution that take advantage of

[2019-05-12 13:36] abczise commented on #1530
1. Introduce Yourself(who you are):
    Middle school students who like robot development
2. Explain the Problem You Want to Solve:(what you do):
    Development of Virtual Artificial Intelligence Robot
3. Are Your Bot Related with any of the Gambling, Adult/Sex Tasks? (YES/NO)
    NO
4. Your Email:
    abczise@qq.com
5. Your Wechat:
    czsgtxy
6. I Had Read the Tutorial at PuppetIoscat usage in

[2019-05-13 05:30] caffreycc commented on #1740
**The same problem was found on my machine.**
errTrace:
`13:10:59 WARN PuppetPuppeteer roomRawPayload() currLength(-1) <= prevLength(0) ???
13:11:00 WARN PuppetPuppeteer roomRawPayload() currLength(-1) <= prevLength(0) ???
13:11:01 WARN PuppetPuppeteer roomRawPayload() currLength(-1) <= prevLength(0) ???
13:11:02 WARN PuppetPuppeteer roomRawPayload() currLength(-1) <= prevLength(0) ???
13:11:03 WA

[2019-05-13 05:31] caffreycc commented on #1740
更新wechaty到0.27.3

[2019-05-13 10:21] caffreycc commented on #1618
@huan
Puppet can not send Image now.
Do you mind showing some detail about this issues?
1、wechaty version: 0.27.3
2、OS： CentOs 7.x
3、[wechaty-puppet-puppeteer](https://github.com/Chatie/wechaty-puppet-puppeteer)

[2019-05-13 10:35] huan commented on #1618
It seems that there's many case that can not send image via the puppeteer puppet.

Could there anyone can check whether the web version is WeChat could be able to send image files for now?

If it could, then there's must some bug in our property.

If it could not, then that means we can not do anything to fix it except changing to other puppets like padpro or iosbird.

[2019-05-13 11:07] windmemory opened #1776 "[RFC] We need a better error system"
**Is your feature request related to a problem? Please describe.**
Recently we observed more and more limitation pushed out by WeChat. In some cases, connection to WeChat server got kicked out. It would be better that we emit these cases as errors so developers could handle them properly.

Currently all the error messages emitted is an `Error` instance, only one message on it, so it is really hard

[2019-05-13 11:29] huan commented on #1776
Thanks for the RFC, it's a very good proposal.

Could you be able to provide 3 of the best examples that you could find in other open source projects, and points out which part do you think they are the best?

I believe we need more 砖 to study first, then we will be able to discuss deeper based on them.

[2019-05-13 11:55] windmemory commented on #1776
I could try to find some good examples. And will post it in the issue.

In the mean time, how about `tensorflow`, what kind of error classes do they have? Since you've been working on that project for a period of time, could you please share a little about that?

[2019-05-13 11:56] windmemory commented on #1776
I could try to find some good examples. And will post it in the issue.

In the mean time, how about `tensorflow`, what kind of error classes do they have? Since you've been working on that project for a period of time, could you please share a little about that?

[2019-05-13 12:23] huan opened #1777 "Use `@chatie/tsconfig` as the tsconfig.json base configuration"
See:

1. <https://github.com/chatie/tsconfig>
1. <https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#tsconfigjson-inheritance-via-nodejs-packages>

[2019-05-13 13:57] huan commented on #1777
It seems works great!

Except that:

1. We have to define `outDir` in the local tsconfig.json because it will be a relative path

[2019-05-13 13:57] #1777 closed

[2019-05-14 01:59] renwfy opened #1778 "无论是否为好友 ，都提示has been friend with bot, no need to send friend request!"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer: 0.22.6

- Whi

[2019-05-14 02:07] windmemory commented on #1743
First of all, you should follow the issue template, provide minimal reproduce code and related silly log.

Secondly, you need to upgrade to the latest version and test it again.

Thirdly, this issue should be placed under `wechaty-puppet-padpro` since this is related to the implementation of underlying puppet.

[2019-05-14 02:14] windmemory commented on #1778
Don't put screenshot image as the output logs, just copy paste the log into the issue.

You should check whether the user is oneway friend with the bot.

In WeChat, friendship are double directions.

For example: Bot and Tom are friends means that Bot is Tom's friend and Tom is Bot's friend. When you delete Bot in Tom's account, you are removing the connection from Tom to Bot, but the connection f

[2019-05-14 02:29] caffreycc commented on #1775
1. Introduce Yourself(who you are):
**Caffrey work in CATPARTY，Node Development Engineer**
2. Explain the Problem You Want to Solve:(what you do):
**Wechat Group Management**
3. Are Your Bot Related with the Following Tasks? (YES/NO)
**NO**
4. Your Email:
**001@mxclass.com**
5. Your Wechat:
**Richachen_2013**
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (

[2019-05-14 02:47] renwfy opened #1779 "用户主动退群，room.memberAll() 在什么情况下可以更新"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:  0.22.6

- Wh

[2019-05-14 03:59] huan opened #1780 "Generate version.ts before publish to NPM"
Currently, we are using [read-pkg-up](https://www.npmjs.com/package/read-pkg-up) to load module version at run time.

There has a discussion between @footballencarta and me before, at https://github.com/huan/rx-queue/issues/25#issuecomment-421916514, I agree with most of his options and I decide to generate a static for our modules to prevent some strange bugs.

The most recent bug I had experienc

[2019-05-14 04:30] #1765 closed

[2019-05-14 04:37] yuqingc commented on #1618
网页版是可以发的 @huan

[2019-05-14 05:01] greenkeeper[bot] opened #1781 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-05-14 05:38] yangguo1122 opened #1783 "请问是否有识别用户发出的语音？或者将语音转文字的能力？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-14 06:27] caffreycc commented on #1618
Wechat web version can send Image now.
Test-time: 2019-05-14 14:27

[2019-05-14 06:37] icmpv6 commented on #1775
1. Introduce Yourself(who you are): **Freelancer, Software Architect/Consultant**
2. Explain the Problem You Want to Solve:(what you do): **Process Management via WeChat**
3. Are Your Bot Related with the Following Tasks? (YES/NO): **NO**
Gambling
Adault & Sex
4. Your Email: **felix@lomoc.com**
5. Your Wechat: **finock**
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from

[2019-05-14 07:52] renwfy commented on #1778
双方一直不是好友，是一个完全不认识的，他们从来没有加个好友
也会提示：WARN PuppetPadpro friendshipAdd wxid_y85hr471 has been friend with bot, no need to send friend request!

[2019-05-14 08:38] renwfy commented on #1778
更新了版本 ：
"wechaty": "^0.26.1",
 "wechaty-puppet-padpro": "^0.2.1"

没有报错了，但是没有成功发送加好友请求

[2019-05-19 06:33] jh11200 commented on #1618
版本：
wechaty-puppet@0.15.9
wechaty@0.26.1
PuppetWechat4u & PuppetPuppeteer
问题：
我下载了这个项目：https://github.com/wechaty/wechaty-getting-started.git
测试了example/ding-dong-bot.js 图片发送，发现没有效果，并没有发送成功，也没有报错。

[2019-05-23 14:27] xinbenlv opened #1785 "添加用 id 寻找Room RoomQueryFilter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

NO

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

添加用 id 寻找Room RoomQueryFilter

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions o

[2019-05-28 16:04] xinbenlv opened #1786 "`Contact.friend()` 的定义是“对方是否把我当好友”，现在请求增加“我是否把对方当好友”的接口。"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
N/A
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
N/A
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2019-05-28 16:09] xinbenlv commented on #1785
这个可以用 `Room.load(id:string)`这个接口，请ignore

[2019-05-28 17:33] xinbenlv commented on #1786
from 杉木
[code]

[2019-05-29 09:13] JarodYv opened #1787 "contact.say(fileBox)发送图片，如果对方已将我删除，则会卡死在那里"
用contact.say(fileBox)发送图片，如果对方已将我删除，则会卡死在那里

[code]
用 `FileBox.fromUrl` 创建文件对象发送也是一样的。程序会阻塞在 `contact.say()` 那里。

[2019-05-30 04:03] windmemory commented on #1779
可以试试用
[code]

来同步群数据

[2019-06-01 09:32] simon-git opened #1788 "room.on('join', async (room, inviteeList, inviter) )是否可以获取inviteeList和inviter中包含特殊字符的用户数据？"
padchat版使用room.on('join', async (r, inviteeList, inviter) => {})获取inviteeList和inviter中包含特殊字符的用户数据时，无法得到数据，并出现以下提示：
WARN PuppetPadchat onPadchatMessageRoomEvent({id=roomMemberSearch() not found}) roomJoin retry() fail: undefined
如带有如下图标的用户名：
[https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/1BJVkIX.png](https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/1BJVkIX.png)
是否有办法获取到此类用户的信息？

[2019-06-03 03:45] simon-git opened #1789 "padpro 无法连接服务器"
日志如下：
[code]

[2019-06-04 10:58] lijiarui commented on #1789
请按模板发issue，否则很难帮你处理。我先关了这个issue，后续有详细信息，欢迎新开issue

[2019-06-04 10:58] #1789 closed

[2019-06-10 15:42] PIPIPIKa commented on #1515
I use ubuntu in Windows. And igot the same erro. But after i running  "apt-get install libxss1" i still get these errors.---->

[2019-06-10 15:42] PIPIPIKa commented on #1515
node bot.js
23:40:06 INFO Wechaty <default> start() v0.26.1 is starting...
23:40:07 ERR PuppetPuppeteerBridge start() exception: Error: Failed to launch chrome!
/root/node_modules/wechaty/node_modules/puppeteer/.local-chromium/linux-662092/chrome-linux/chrome: error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory

TROUBLESHOOTING: https://

[2019-06-11 02:46] gracetong0630 opened #1791 "TSError: ⨯ Unable to compile TypeScript:"
Hi, I have been trying to installing the Wechaty bots for days. After trying over dozens of times, I have encountered this issue. Could you please help? Thank you very much!

[code]

[2019-06-11 06:20] huan commented on #1791
Please start from this repo at <https://github.com/wechaty/wechaty-getting-started>

This is officially recommended from the README, please read README carefully before you get started, and we are strong recommend to use the above link for your first time run.

[2019-06-12 06:03] huan opened #1792 "Easy install for wechaty-puppet-puppeteer"
We decided to use `PUPPETEER_DOWNLOAD_HOST=https://npm.taobao.org/mirrors` by default.

Learn more from <https://github.com/GoogleChrome/puppeteer/issues/1597#issuecomment-351945645>

[2019-06-12 06:15] huan opened #1793 "Upgrade the repo to use Chatie DevOps toolset"
TBW

1. `@chatie/tsconfig`
1. `@chatie/eslint-config`
1. `@chatie/git-scripts`
1. `@chatie/semver`
1. `tstest`
1. `pkg-jq`

[2019-06-12 09:01] matrixhome commented on #1515
i still get these errors too.

[2019-06-12 09:24] PIPIPIKa commented on #1515
i guess maybe it doesn’t  support ubuntu so perfect as i followed every
step of its instructions.

matrixhome <notifications@github.com>于2019年6月12日 周三17:02写道：

[2019-06-12 16:36] huan commented on #1792
It works with the Wechaty version 0.27.16 and the above version!

[code]

Wechaty can install `wechaty-puppet-puppeteer` without any problem in China now.

[2019-06-12 16:39] #1792 closed

[2019-06-12 16:40] huan commented on #1792
This is done.

[2019-06-12 16:40] huan commented on #1793
This is done.

[2019-06-12 16:40] #1793 closed

[2019-06-14 09:48] hywhuangyuwei opened #1795 "Cannot `Contact.say(imageAsFileBox)` with puppeteer"
- What is your wechaty version?
Answer: 0.26.1

- Which puppet are you using for wechaty? (padchat/puppeteer/padpro/...)
Answer: puppeteer

- What is your wechaty-puppet-XXX（padchat/puppeteer/） version?
Answer: 0.16.1

- What is your node version? (run `node --version`)
Answer: 11.13.0

- What os are you using
Answer: Red Hat Enterprise Linux Server release 7.6 (Maipo)

## 2. Describe the bug
Give

[2019-06-15 13:24] UnsignedInt8 commented on #333
I have the same problem. To reproduce it, you just need to deploy a bot on an overseas VPS, and wait two days.

[2019-06-15 14:42] huan commented on #333
Glad to hear from you after two years after this issue first filed!

[2019-06-15 14:56] lumingwen commented on #1795
发送不了图片嘛

[2019-06-15 15:05] hywhuangyuwei commented on #1795
yes

[2019-06-16 03:50] lumingwen commented on #1795
why 腾讯改了吗

[2019-06-18 05:47] jusicorpuz commented on #1736
Hi! can someone help me know how to find an old contact in Wechat? I badly need to communicate with him. I have his wxid only :(

[2019-06-18 10:09] libin8952 commented on #1720
请问你最后是怎么解决的

[2019-06-18 11:11] z372183629 commented on #1720
还没有去解决，只能通过服务器做转码

[2019-06-18 11:31] libin8952 commented on #1720
请问具体怎么转的呢。最后转出了什么格式呢。

[2019-06-19 00:57] timqian commented on #1515
`libxss1` seems not enough, try install all the following libs(works for me)
[code]

ref: https://github.com/GoogleChrome/puppeteer/issues/3443#issuecomment-433096772

[2019-06-19 01:00] PIPIPIKa commented on #1515
i’ll try later,thanks

Tim Qian <notifications@github.com>于2019年6月19日 周三08:57写道：

[2019-06-21 05:36] timqian commented on #333
Confirmed @UnsignedInt8 's description. Maybe this is a restriction of web wechat?

[2019-06-21 06:02] UnsignedInt8 commented on #333
I think so.

[2019-06-21 06:12] huan commented on #1791
To run TypeScript from <https://github.com/wechaty/wechaty-getting-started>, you can follow the README, then run `npm run start:ts` to getting started with TypeScript version of Wechaty out-of-the-box!

[2019-06-21 06:12] #1791 closed

[2019-06-22 08:53] moling1234 opened #1797 "I have a question"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[question]

![image](https://user-images.githubusercontent.com/32126933/59961726-32732b00-950e-11e9-8cd4-28442eab0e84.png)

[2019-06-22 09:09] huan commented on #1797
If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[2019-06-23 04:29] huan commented on #1797
Close this issue because the problem had been fixed.

See <https://github.com/wechaty/wechaty-getting-started/issues/83>

[2019-06-23 04:29] #1797 closed

[2019-06-24 02:44] wenh7788 opened #1798 "群成员监控问题"
node起了一个定时的任务来获取群成员的数据，有通过网络搜索或是咨询一些网友说是一般2~3天才能拿到最新的群成员数据，我们自己做了一个测试，本来群里有4个人的踢了一个人，到目前为止已经过去3天了还是4个人，期望结果是3个人

[2019-06-26 14:35] huan commented on #1758
@yuqingc Could you please close this issue if it had been resolved for you?

[2019-06-27 01:54] amoydavid opened #1800 "Multi-bots with multi-puppet error"
# 1. Versions
- What is your wechaty version?
"wechaty": "^0.22.1",

- Which puppet are you using for wechaty? (padchat/puppeteer/padpro/...)
Answer:padpro

- What is your wechaty-puppet-XXX（padchat/puppeteer/） version?
Answer:
"wechaty-puppet-padpro": "^0.2.1"

- What is your node version? (run `node --version`)
Answer:
v11.11.0

- What os are you using
Answer: mac

## 2. Describe the bug
When I

[2019-06-27 02:52] windmemory commented on #1800
`wechaty` version is too old, please update to `0.26.1` and try again.

[2019-06-27 03:10] huan commented on #1800
Please change as the following diff shows:

[code]

Then you will specific the puppet options right, and your second Wechaty bot should come with the right puppet setting.

[2019-06-27 04:11] yuqingc commented on #1758
This issue is resolved.

[2019-06-27 04:11] #1758 closed

[2019-06-27 04:36] amoydavid commented on #1800
what my silly code!

[2019-06-27 04:36] #1800 closed

[2019-06-27 06:59] nickwong opened #1801 "Friendship 里增加 申请好友的”来源“"
**Is your feature request related to a problem? Please describe.**
处理好友申请时，通过Friendship.hello()可以获取到验证信息，但Friendship里无法获取到用户”来源“。
希望能够加上”来源“，这样在用户通过名片添加机器人的时候，可以通过”来源“知道是哪个用户推介的。

**Describe the solution you'd like**
在Friendship里增加获取来源的方法。

**Describe alternatives you've considered**

**Additional context**

[enhancement]

[2019-06-30 06:37] henryhu712 opened #1802 "How to download images?"
Get image messages. There are image names in payload such as 529884488359834.jpg. How can bot download the images?

[2019-06-30 10:17] huan commented on #1785
I decide to implement this feature because:

1. `Room.load()` is not a public API
1. `Room.load()` can not guarantee the id is valid
1. `Room.load()` cannot throw the exception when the id is invalid

So add an `id` to the QueryFilter will be a better way to resolve the above problems.

[2019-06-30 19:04] huan commented on #1785
Using `id` as a QueryFilter key had been supported by:

1. `wechaty-puppet-puppeteer@0.17.22` or later version
1. `wechaty-puppet-padpro@unknown`: after this [PR](https://github.com/botorange/wechaty-puppet-padpro/pull/151) had been merged.

[2019-06-30 19:04] #1785 closed

[2019-07-02 21:28] nickwong opened #1804 "ContactQueryFilter 里增加通过id或者weixin 查找联系人"
**Is your feature request related to a problem? Please describe.**
name和alias 是可变的，可修改。想查找某个用户的时候，可能他的name被用户修改过因而没有找到该用户。

**Describe the solution you'd like**
id和weixin由微信决定不可变，希望增加通过这两个参数也可以查找联系人。

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots ab

[2019-07-03 01:30] huan commented on #1804
Duplicated with #1785

[2019-07-03 02:14] huan commented on #1804
BTW please notice that whether the id is permanent will be depended on the puppet provider you are using.

Padpro will but puppeteer will not.

[2019-07-03 08:43] JarVZhao opened #1805 "bot.Friendship.add 无效"
web  0,27.36    bot.Friendship.add 无效
使用场景是从群里加好友,试了加一个几百人的群,人都能拿到但是无法添加,500个人一个也不行:
const memberList = await room.memberList()
for (let i = 0; i < memberList.length; i++) {
  await bot.Friendship.add(member, 'Nice to meet you! I am wechaty bot!')
}

[2019-07-03 08:46] JarVZhao commented on #1578
bot.Friendship.add doesn't work. And contact begins without wxid_.

[2019-07-03 15:09] maoguijun commented on #1805
我试了一晚上也是没有效果，又看不到具体报错

[2019-07-04 07:21] limingth opened #1806 "[Feature] Send Mini-Program"
As #1678 has pioneered to help wechaty-puppet-padpro be able to send wechat mini-program using xml within `<msg>`, we want to continue this work to get it really done.

Here is what we find and achieve.
### A sample of msg raw data
[code]
### XML data of mini-program in "text"
[code]
### Difference between Two Persons shared the same mini-program
[code]
### Difference between One Person shared the

[2019-07-04 08:10] huan commented on #1806
@limingth Thanks for creating this issue for better discussing effort based on GitHub!

Could you please change the picture to text so that it could be searchable, and better display?

[2019-07-04 09:33] limingth commented on #1806
### XML data with Page Path of mini-program
[code]

### Difference between Two Pages in mini-program sharing
[code]

[2019-07-04 09:57] limingth commented on #1806
@huan  Sure, I've changed the pic to text.

**Good News, Now we have tried hard-code to send mini-program in padpro successfully. :)**

Thanks to @lhr0909 's creative commit https://github.com/xanthous-tech/wechaty-puppet-padpro/commit/057927caf64f4b811b7269adfc18c7c8dec86efd

![image](https://user-images.githubusercontent.com/1249369/60657873-a1dd0900-9e84-11e9-9b23-8ea7f186842b.png)

[2019-07-04 19:38] greenkeeper[bot] opened #1807 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.4.5` to `7.5.0`.
- The `devDependency` [@babel/node](https://www.npmjs.com/package/@babel/node) was updated from `7.4.5` to `7.5.0`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.

[2019-07-05 12:33] #1807 closed

[2019-07-05 12:45] huan commented on #1802
Please see: <https://chatie.io/wechaty/#Message+toFileBox>

[2019-07-05 12:45] #1802 closed

[2019-07-07 10:21] lijiarui commented on #1805
Please follow the issue template, thanks!

[2019-07-07 10:25] lijiarui commented on #1801
@nickwong PR is welcome!

[2019-07-07 10:28] lijiarui commented on #1795
Tencent change some code on web wechat.

Related issue: https://github.com/Chatie/wechaty-puppet-puppeteer/issues/91

We fix here: https://github.com/Chatie/wechaty-puppet-puppeteer/pull/106

This PR should be published on v0.17.23 or later version, please update the code and you can send image or file!

cheers!

[2019-07-07 16:44] isnl opened #1809 "wechaty不能向用户发送图片了"
await contact.say(fileBox2)此功能失效

[2019-07-07 17:04] huan commented on #1809
Duplicated with #1795

[2019-07-07 17:04] #1809 closed

[2019-07-07 17:05] huan commented on #1795
@lijiarui Please add the `Bug` label to the issue if it is a confirmed bug.

[2019-07-07 17:08] huan commented on #1742
Close this issue because I believe it had been resolved.

Please feel free to let me know if you have any other questions by leaving comments.

[2019-07-07 17:08] #1742 closed

[2019-07-07 17:09] huan commented on #1718
@windmemory Had this issue been resolved?

I remember some PR related to this problem had been merged.

Please refer to the PR in this issue and close it if it had been implemented by the PR because we should only leave the unresolved issues open.

[2019-07-07 17:12] huan commented on #1627
@windmemory This topic had no activities since we last discussed it 10 months ago.

I'll assign it to you because we need you to show some low-level API from your side. Please feel free to let me know if you need any help from my side.

CC @lijiarui

[2019-07-08 05:28] windmemory commented on #1718
I think we can close this issue. This is resolved.

And the related PR is located above. So no need to link any PR to this.

[2019-07-08 05:28] #1718 closed

[2019-07-08 05:32] windmemory commented on #1627
I tested the low-level APIs, and the modify api is not working correctly, so I haven't put the results here.

The work on fixing the low-level API is still on going, will update here once any progress is made.

[2019-07-08 05:50] huan commented on #1718
Thank you very much for keeping the house clean!

[2019-07-08 05:52] huan commented on #1627
Great to hear that we will keep this issue being updated in the future.

Thank you can much.

[2019-07-08 05:54] windmemory commented on #1627
What does this mean? Never saw this word.

[2019-07-08 05:59] huan commented on #1627
It means that I'm using the sliding input method.

Yeah, it's Typo.

[2019-07-08 18:45] huan commented on #1780
Close this issue because it had been implmented.

[2019-07-08 18:45] #1780 closed

[2019-07-09 15:42] huan commented on #1795
Is there anyone who can confirm this bug had been fixed successfully?

[2019-07-09 15:43] huan commented on #1751
Close this issue because the related PR had been merged.

[2019-07-09 15:44] #1751 closed

[2019-07-09 15:47] huan commented on #1681
We had a new blog post from @su-chang that writing about how to link the wechaty npms for developing.

You will not want to miss it: [Summary of Learning Wechaty and Padpro](https://blog.chatie.io/summary-of-learning-wechaty-and-padpro/)

[2019-07-09 15:47] #1681 closed

[2019-07-09 15:49] huan commented on #1690
I'll close this issue because the PR had been merged.

Thank you very much @TbhT !

[2019-07-09 15:49] #1690 closed

[2019-07-10 03:07] wenh7788 opened #1810 "机器人会隔一段时间自动退出"
单纯的从日志上看就是跑着跑走到了机器人的loginout的回调里面了。绝对不是人为操作。因为机器人的手机只有一个人保管。日志上看不出来啥。能否帮忙看看~谢谢~~

[2019-07-10 12:24] andriipustovoit opened #1811 "Wechaty process.exit(1) if token is not valid"
In Nodejs application, I want to start multiple Wechaty PuppetPadpro bot instances dynamically based on an HTTP request. A token for a new instance of Wechaty bot is passed along with the request. But if for some reason not a valid token is passed to Wechaty bot, library prints error and calls process  `process.exit(-1);` which stops the whole Nodejs process with multiple running bot instances. Ca

[2019-07-10 13:16] lucifer1004 opened #1812 "bot.Contact.find() error message misleading"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

Nope.

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

Nope.

3. Please search in the issue first, and make sure your problem had not been reported before

Nope.

## 1. Versions
- What is your wechaty version?

[2019-07-10 14:40] andriipustovoit commented on #1811
It seems the question should be forwarded to puppet implementation: https://github.com/botorange/wechaty-puppet-padpro/issues/157

Closing ticket here.

[2019-07-10 14:40] #1811 closed

[2019-07-10 18:47] huan commented on #1812
Good catch! and thank you very much for reporting about this misleading error message.

It should be better with wechaty-puppet@0.15.22 or later version.

[2019-07-11 18:00] lingtl opened #1813 "将代码放上服务器后，服务器的可以启动，本地的却启动不了了"
01:56:57 INFO Wechaty <Puppet#0<PuppetPadpro>()/PuppetPadpro#0> start() v0.26.1 is starting...
01:56:57 INFO WechatGateway init(puppet_padpro_092b18ef3bdf74c0, padpro.botorange.com:6666, undefined)
01:56:57 INFO WechatGateway initLongSocket() connection to wechat long host server: long.weixin.qq.com ended.
01:56:57 INFO WechatGateway initLongSocket() connection to wechat long host server: long.wei

[2019-07-12 01:16] huan commented on #1783
Of course, we can.

Please refer to <https://github.com/wechaty/wechaty-getting-started/blob/master/examples/professional/speech-to-text-bot.ts>

[2019-07-12 01:16] #1783 closed

[2019-07-12 01:19] huan commented on #1795
@hywhuangyuwei @lumingwen Could you please help us to confirm that whether this bug had been fixed in the next version of the wechaty-puppet-puppeteer ?

[2019-07-12 07:57] learning opened #1815 "用了一个月itchat相安无事，用了2小时wechaty..."
用了一个月itchat相安无事，用了2小时wechaty，登不上web微信了？？？
一登上去就会跳转到以下地址，白屏，跟新号的提示不一样......
哎，最后一个能登web微信的号了.

[code]

[2019-07-12 09:09] wenh7788 commented on #1798
需要调用 room.sync()自问自答

[2019-07-12 14:17] windmemory opened #1816 "Room announcement is not working properly for some puppet implementation"
Today we tested the room announcement feature with `wechaty-puppet-padpro`.

Seems like the room announcement is a special type of message, which mentions everyone in the room, and the data structure is different from the regular messages. So calling the `mention()` or `mentionSelf()` method on an announcement message will throw out errors with `wechaty-puppet-padpro`. I haven't got time to pull o

[2019-07-12 17:45] huan commented on #1816
I will think that the announcement message should be seen from the user side as a normal mention message for themselves.

[2019-07-13 01:59] windmemory commented on #1816
Okay, if we implement the feature in that way, then for `Message.mention()` function, we shall return back the whole list of the room members, is that correct?

[2019-07-13 07:04] huan commented on #1816
Correct. That's the idea. Please go ahead.

[2019-07-13 15:57] windmemory commented on #1816
Okay, will impl in that way. Close this issue.

[2019-07-13 17:23] huan commented on #1816
Great.

Looking forward to this new feature, and thank you very much for keeping improving the Wechaty.

Cheers!

[2019-07-13 17:23] huan commented on #1816
BTW: I'd like to keep this issue to be open so that you could be able to reference this issue in your Pull Request and commits.

[2019-07-14 09:22] vrqq commented on #66
@huan @SuperAL
You should use ```docker run -ti --rm --volume="$(pwd)":/bot:Z zixia/wechaty mybot.js``` instead of close the SELinux.
See also: https://docs.docker.com/storage/#configure-the-selinux-label

[2019-07-14 17:02] huan commented on #66
Could you please explain the additional ":Z" argument in details?

[2019-07-15 06:58] hywhuangyuwei commented on #1795
@huan Fixed!
`Contact.say(imageAsFileBox)` works perfectly with wechaty@0.27.53 and wechaty-puppet-puppeteer@0.17.23.

[2019-07-15 06:59] #1795 closed

[2019-07-15 07:18] hywhuangyuwei opened #1817 "New feature request -- sending original picture"
**Is your feature request related to a problem? Please describe.**
When I use `Contact.say(imageFile)`, wechat will compress the image file so the receiver cannot download the original image.

**Describe the solution you'd like**
Is it possible to provide an option like `send original/uncompressed image`?

**Describe alternatives you've considered**
pass

**Additional context**
![image](https://us

[2019-07-15 07:43] huan commented on #1795
Thank you very much for confirming this fix and closing this issue.

Cheers!

[2019-07-15 10:24] windmemory commented on #1816
This issue was originally opened for discussion of how to deal with room announcement message, and we have a conclusion, so this topic should be considered as closed.

But you want to track this issue's progress, so let's rename this issue and pivot the purpose of this issue to `fix the room announcement message implementation`

[2019-07-15 11:02] huan commented on #1816
Thank you for renaming this issue and keeping track it.

Would love to know the following works related to this issue.

[2019-07-16 03:29] vrqq commented on #66
With SELinux opened, the program accessed folder is limited by ‘type’.
By using **ls -laZ** we can find out that the folder’s SELinux context changed after running ‘docker :Z’
So the permission denied may caused by SELinux, and we should mark the property of SELinux.

Information about SELinux:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/security-enhanced_linux/ch

[2019-07-16 09:50] huan commented on #66
@vrqq Thank you very much for your valuable information!

I'm not very familiar SELinux, but I get to understand your context after reading your explanation and the linked documentation.

Let us fix the FAQ about this topic at <https://github.com/Chatie/wechaty/wiki/FAQ#get-error-can-not-found-bot-file-xxxjs-when-using-docker-to-start-wechaty>. Would you like to help us to improve this part of the

[2019-07-16 17:01] tianlinle opened #1820 "missing puppets in latest docker image"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer: 0.27.53

- Wh

[2019-07-17 11:09] vrqq commented on #66
@huan Already updated (・∀・)つ⑩

[2019-07-17 16:48] huan commented on #66
@vrqq got it. Thank you very much!

Could you please add my WeChat 918999 ? Because I want to invite to our contributor team.

[2019-07-17 17:49] huan commented on #1820
I don't think your reproduce steps will be able to reproduce your problem.

I believe this issue is because you have a dependence on wechaty in your package.json, which should not when you are using Docker to run your bot.

Could you please try to run the following command, and then run docker again to see if your issue had been fixed?

[code]

[2019-07-18 02:32] tianlinle commented on #1820
@huan Thanks for your reply. I've followed your step, and been sure that there only one file `mybot.js` in my project folder. I haven't ran ```npm i``` since `mybot.js` has no any other dependency expect Wechaty. But unfortunately, the PuppetManager still try to install `wechaty-puppet-padchat@^0.18.1`.

[2019-07-18 03:04] huan commented on #1820
Confirmed.

@tianlinle Thanks for reporting this. Will look into it later.

[2019-07-18 03:13] huan commented on #1820
This issue will be resolved quickly if you would help me to run a `docker build` to test whether the puppet-install did not work in this case. Will appreciate it if you could.

[2019-07-18 04:14] 761029 commented on #1815
+1

[2019-07-18 09:47] tianlinle commented on #1820
Here's the log. Hope that it can help
<details>
<summary>
Show Logs
</summary>

[code]

</details>

[2019-07-18 09:49] tianlinle commented on #1820
I think that is a connection error😰

[2019-07-18 17:59] huan commented on #1820
Could you please try the latest docker image with version v0.27.55 or above, to test whether this issue had been fixed?

[2019-07-20 03:39] huan commented on #1820
I had tested the latest image(v0.27.58), and this issue seems had been fixed.

Could you please to test and confirm whether it works for you, and let me know if you have any problems? Or close issue if everything works as expected, thank you very much.

[2019-07-20 06:04] huan commented on #1806
Wechaty v0.27.59 or above will include the above PRs.

[2019-07-22 01:57] wangji817 commented on #1618
我使用了 puppeteer@1.18.1 wechaty@0.27.6之后依然不能正常发送本地图片至好友
而项目跟目录下图片生成正常，且正常展示，缺无法发送

[2019-07-22 04:33] tianlinle commented on #1820
Great! Everything works fine now.

[2019-07-22 04:33] #1820 closed

[2019-07-22 07:58] huan commented on #1618
Please upgrade `wechaty-puppet-puppeteer` to  v0.17.23 or later version to get rid of this bug.

See: https://github.com/Chatie/wechaty-puppet-puppeteer/pull/106

[2019-07-22 08:00] #1618 closed

[2019-07-22 15:41] windmemory opened #1823 "Would like to have receiver, serialize and deserialize functions on RoomInvitation"
**Is your feature request related to a problem? Please describe.**
Trying to implementing a feature that user could accept room invitation and view room invitation in web page. So I need two more functions:
* One function enables the ability to retrieve/regenerate the room invitation, and accept when the user triggered the accept action.
* The other one could return back the invitation's receiver,

[2019-07-23 14:58] douym opened #1824 "请问可以实现自动管理入群吗？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
能否实现发送验证码到对方edu邮箱，对方回复正确验证码后加群成功？谢谢！

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2019-07-25 08:37] storenth commented on #1239
Verified with Docker build
[code]

[2019-07-25 08:38] storenth commented on #1238
Verified under docker build
[code]

[2019-07-25 08:59] windmemory commented on #1823
Kindly ping @huan

[2019-07-26 02:40] huan commented on #1823
Sorry for the late reply, and thanks for the reminding.

The basic concept looks good in your proposal.

Please go-ahead to submit a PR to show your code so that we could be able to discuss the design patterns for it.

[2019-07-26 02:57] wanghenan12138 opened #1825 "想获取微信消息列表，Message.findAll()返回为空？"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[question]
想获取微信消息列表，Message.findAll()返回为空？
需求是获取全量的会话消息列表，文档上看到有私有方法findAll，但是调用后和Concact.findAll并不一样，获取不到数组信息。
有哪位大佬了解，烦请点拨一下。

[2019-07-26 04:00] #1825 closed

[2019-07-26 06:33] Kelier opened #1826 "可以通过提供二维码自动加群么？"
如题

[2019-07-27 18:01] stinger58 commented on #1736
Hi did you find someone to help? I have the same problem. I used a Wechat a few different 3rd party programs to recover contacts and messages and all I could recover was their We Chat ID starting with wxid_ However, if someone out can help. Please post your contact I formation. I’m not a developer so I really some help...thanks GB

[2019-07-29 08:03] windmemory commented on #1816
This issue is resolved in `wechaty-puppet-padpro` for version that is newer than `v0.3.12`

Can we close this issue? @huan

[2019-07-29 08:14] windmemory commented on #1823
I've created a draft PR in `wechaty`, `wechaty-puppet` and `wechaty-puppet-padpro`. I added two class methods and two instance methods:
**Class Method**
* `serialize (invitation: RoomInvitation): Promise<string>`
* `deserialize<T extends typeof RoomInvitation> (payloadString: string): Promise<T['prototype']>`

**Instance Method**
* `to (): Promise<Contact>`
* `avatar (): Promise<FileBox>`

The cla

[2019-07-29 08:20] windmemory opened #1829 "Would like to have the timestamp on the room/friendship events"
**Is your feature request related to a problem? Please describe.**
Currently we don't have a way to get the timestamp of when the events really happened. In wechat's world, when the account is not online, the event is queued up, and once the account is online, events will be pushed. If we use the timestamp that the event is triggered, it is not accurate, sometimes, it will have few hours or even d

[2019-07-29 17:33] huan commented on #1816
Of course. And it would be great if you could link the related issues & pull request to this issue before closing it.

Thanks for the contribution!

[2019-07-29 17:36] huan commented on #1823
Great to hear from you and see the API drafts!

I will look into it and get back to you later.

[2019-07-29 17:37] huan commented on #1829
It's a reasonable proposal, please go-ahead and PR will be welcome!

[2019-07-29 17:38] huan commented on #1815
I'm very sad to hear that.

[2019-07-29 17:38] #1815 closed

[2019-07-30 00:41] windmemory commented on #1816
Okay, linked the issue and close this issue :)

[2019-07-30 00:41] #1816 closed

[2019-07-30 00:42] windmemory commented on #1829
Okay will do

[2019-08-01 01:30] windmemory commented on #1823
Kindly ping @huan

[2019-08-01 09:44] huan commented on #1806
@limingth Could we close this issue since we had merged  & published the related pull requests?

[2019-08-02 04:02] huan commented on #1823
Got it. Cloud you please also create the PR for #1829 so that I could review all the code at once? Because that would greatly increase the efficiency and save a lot of time for me.

[2019-08-02 05:47] windmemory commented on #1823
Will do later.

[2019-08-05 08:06] windmemory commented on #1829
I've created draft changes for this feature request.

Actually I came up with two solutions:
* Add timestamp value to the event callbacks
* Convert the arguments in the event callback into one event object, then add timestamp onto that object

I took the first one, since the second one requires more code changes than the first one, and that is a big breaking change.
But for the first solution, my

[2019-08-06 08:14] su-chang opened #1834 "Wechaty can not get room info when the bot has been removed from one room."
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer: 0.26.1

- Whi

[2019-08-07 10:51] greenkeeper[bot] opened #1835 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.5` to `3.0.6`.

🚨 [View failing branch](https://github.com/Chatie/wechaty/compare/master...Chatie:greenkeeper%2Fcoveralls-3.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this project.

[2019-08-07 16:20] #1835 closed

[2019-08-15 03:28] windmemory commented on #1829
I think we can close this issue as soon as the `wechaty-puppet-puppeteer` update the code to emit the `timstamp` in room events.

[2019-08-15 04:23] huan commented on #1829
You are right. And not only the wechaty-puppet-puppeteer but also other puppet providers maintained by chatie as well, like `mock`, `wechat4u`, etc.

[2019-08-15 04:29] windmemory commented on #1829
Issues created in each puppet, I will try to squeeze some time working on some of the upgrades.

[2019-08-15 04:48] huan commented on #1829
Great, thank you very much for creating the issues and planing to fix them!

[2019-08-15 04:50] huan commented on #1829
After we had close this issue, I'd like to bump all the puppets version to a stable version number, so that all the developers would be able to use them.

Especially the puppeteer and the padpro.

[2019-08-15 09:40] CQHO opened #1837 "基于padpro协议不能发送微信小程序"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer:
  "wechaty":

[2019-08-15 15:29] zhaoic commented on #1837
in miniPayload, you can try
[code]

thumbnailurl not support yet, we can't get cdnthumbnail automatically

[2019-08-16 08:26] CQHO commented on #1837
为什么要这样？ 是bug还是以后都这样了

[2019-08-17 16:44] lb1938 opened #1839 "微信退出登录后，重新登录不了ipad"
扫码后出现代码如下

  at process.topLevelDomainCallback (domain.js:120:23)
(node:12696) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 4)
(node:12696) UnhandledPromiseRejectionWarning: OpenError: EIO, IO error: lock /root/.

[2019-08-17 17:55] huan commented on #1839
This error message indicated that you might have another process already running.

That's why you get a `OpenError: EIO, IO error: lock file-cache/LOCK: Resource temporarily unavailable`

[2019-08-17 18:00] lb1938 commented on #1839
好的我看看

[2019-08-18 02:20] lb1938 opened #1841 "登录不了一个错误报告"
重要：请不要删除模板自行填写，所有不按照模板填写的issue，我们将不会处理。

0. 发 Issue 指南
请运行下面的命令，看问题是否可以被解决：
rm -rf package-lock.json
rm -rf node_modules
npm install
请在 FAQ 清单 看是否已有解决办法。

请先在issue 中搜关键信息，确认你要发的内容和之前的issue 不重复。

1. 提供你的包版本信息
wechaty 版本：0.22.1
wechaty-puppet-padpro 版本：0.0.58
node 版本： 10.15.3
你使用的操作系统：CentOS
2. Bug 描述
无法登录

错误堆栈
11:03:37 WARN sendShort receive unknown package: [90] 5a06fffffff3000000000000000000008b

[2019-08-19 07:12] windmemory commented on #1841
@lb1938 再次启动这个bot还是会报同样的错么？

[2019-08-19 07:17] lb1938 commented on #1841
不会了，不罢工了，目前正常.

[2019-08-20 15:05] zhaoic commented on #1837
微信小程序cdn相关字段不开放，目前无法自动获得，还需要后面继续逐渐的完善

有一个临时解决办法是解析一个正确的小程序，把其中cdn相关字段提取出来，硬编码进generateMiniProgramXMLMessage

[2019-08-21 01:02] limingth commented on #1837
@CQHO 关于封面图的问题，在目前的PR里面没有得到很好的解决。一方面是我们的能力所限，一方面也是希望能有更多志同道合的技术高手参与到开源项目里贡献代码。 如果有兴趣对这个feature enhancement提交PR，可以加我微信 limingth，我拉你到我们的 PR 群里交流。

[2019-08-21 01:19] limingth commented on #1806
@huan Sure!

To see implementation details, please refer to this PR https://github.com/Chatie/wechaty/pull/1822

[2019-08-21 01:19] #1806 closed

[2019-08-21 08:57] lijiarui commented on #1841
Close this since it cannot reproduce.

[2019-08-21 08:57] #1841 closed

[2019-08-21 09:03] lb1938 commented on #1841
不行呢 还是登录不了 提示异地登录

[2019-08-21 13:44] lijiarui commented on #1841
异地登陆是近期正在解决的问题。所有账号都出现了这个问题。

[2019-08-22 12:02] cwjfeifei opened #1842 "登录不了，有办法解决吗？"
ERR PuppetPuppeteerBridge onLoad() exception: Error: 为了你的帐号安全，此微信号不能登录网页微信。你可以使用Windows微信或Mac微信在电脑端登录。Windows微信下载地址：https://pc.weixin.qq.com  Mac微信下载地址：https://mac.weixin.qq.com

[2019-08-22 12:17] lijiarui commented on #1842
see https://docs.chatie.io/v/zh/#web-limit-1

[2019-08-22 12:17] #1842 closed

[2019-08-23 12:05] dzcpy commented on #69
Where can I access the source code? Actually what I would like to know is how to use this module together with webchaty? Is there any example code?

[2019-08-24 13:53] huan commented on #69
You can run wechaty demo with wechaty-puppet-wechat4u by running the following command in this repository:

[code]

[2019-08-24 14:08] huan opened #1843 "Write a paper for Wechaty on the Journal of Open Source Software"
Learn more from <https://joss.theoj.org>

[2019-08-25 18:02] yh4922 opened #1844 "web协议的能不能获取到网页的Cookies 等 headers信息"
web协议的能不能获取到网页的Cookies 等 headers信息
需要获取到 网页微信的 header 信息

[2019-08-28 06:19] fifahuihua opened #1845 "Can't login with scanning the qrcode!!!"
1. npm install
2. node examples/starter-bot.js

ERROR stack:

14:14:42 ERR PuppetPuppeteerBridge onLoad() exception: Error: To protect your account, logging in to WeChat via the web has been suspended. Use WeChat for Windows or WeChat for Mac to log in on a computer. Download WeChat for Windows or Mac at http://wechat.com.
brolog.js:173
(node:90892) UnhandledPromiseRejectionWarning: Error: Error:

[2019-08-28 07:46] scholar-wei commented on #1810
我这边也是这种情况，我这边大概20多个机器人，同时启动之后，都会同一个时间退出，频率是三天

[2019-08-28 08:38] huan commented on #1810
I guess you are all using the `wechaty-puppet-padpro`?

[2019-08-28 08:55] scholar-wei commented on #1810
"wechaty-puppet-padpro": "0.3.5"

[2019-09-01 13:56] lijiarui opened #1846 "wechaty-puppet-macpro alpha test"
# UPDATE

Since too many people apply for the alpha test, so we change the way to apply the alpha test. You can send an email to dev@juzi.bot follow the template below.

:mega:Notice:
1. We will send **30 tokens per month** according to your scenario.
2. We will reply to your email at **15th and 30th of each month** whether you get the alpha test or you are still in the waiting list.
3. Be sure to

[2019-09-01 21:52] lauzhihao commented on #1846
1. Introduce Yourself(who you are):
   My name is LiuZhihao,I am come from Haidian District of Beijing.
   I am working for a  education mobile app with a developer.
2. Explain the Problem You Want to Solve:(what you do):
  There are some difficult points in our business operate team, for example ,the software which they are using,can not be persistence any message.
3. Are Your Bot Related with th

[2019-09-02 06:28] CooperFu opened #1849 "We need FriendShip.add() or some new method to get raw payload"
**Is your feature request related to a problem? Please describe.**

We are [Uniqueway](http://www.uniqueway.com). we already hook the interface about FriendShip.add() to get rawPayload through Wechaty and WechatyPadPro.

Cause our situation is very complicated, we bought 23 keys to realize the function of actively adding friends. (Every number adds 6 friends every day) But because I recently encou

[2019-09-02 07:55] huan commented on #1849
I'd like to flag it as a question, and if there's enough attention/discussion on this problem, then I'll take time to think about it.

[2019-09-02 15:22] huan commented on #1824
I want this feature too!

[2019-09-03 02:39] qiqizjl commented on #1846
1. Introduce Yourself(who you are):
From Beijing. Is doing market development related technology development
2. Explain the Problem You Want to Solve:(what you do):
Help market operations management WeChat group
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
4. Your Email:
qiqizjlq@gmail.com
5. Your Wechat:
nxx_work
6. I Had Joined the Wechaty Developers' Ho

[2019-09-03 08:54] jerr123 commented on #1846
Introduce Yourself(who you are):
From Beijing. Is doing wechat development related technology development
Explain the Problem You Want to Solve:(what you do):
Help market operations management WeChat group
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
jerrkill123@gmail.com
Your Wechat:
yslj755
I Had Joined the Wechaty Developers' Home Wechat Room b

[2019-09-03 10:06] lijiarui commented on #1846
@jerr123 exactly the same with @qiqizjl ? We need your company name and how do you use this.

[2019-09-03 10:12] jerr123 commented on #1846
@lijiarui 天津青芒网络科技有限公司， use to help market operations management WeChat group, We have a group purchase product, we need to use WeChat robot to help the WeChat group operate, currently it is manual operation

[2019-09-03 12:07] k0R73z commented on #1846
1. Introduce Yourself(who you are):
Me Max, from Russia, I'm working on wechat bot to provide excellent customer service.
2. Explain the Problem You Want to Solve:(what you do):
Help staff manage customers in WeChat
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
4. Your Email:
maksim.fin@skyeng.ru
5. Your Wechat:
vipenglish_bot
6. I Had Joined the Wechaty De

[2019-09-04 08:20] jerr123 commented on #1846
Introduce Yourself(who you are):
From Tianjin. Is doing wechat development related  group purchase product
Explain the Problem You Want to Solve:(what you do):
use to help market operations management WeChat group, We have a group purchase product, we need to use WeChat robot to help the WeChat group operate, currently it is manual operation
Are Your Bot Related with the Following Tasks? (YES/NO)

[2019-09-05 08:38] josephpei commented on #1846
1. Introduce Yourself(who you are):
Joseph Pei, from Beijing, I'm working on wechat bot to provide excellent customer service.

2. Explain the Problem You Want to Solve:(what you do):
Help staff manage customers in WeChat

3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO

4. Your Email:
josephpei@gmail.com

5. Your Wechat:
blueheaven888

6. I Had Joined the We

[2019-09-06 02:24] lxfater commented on #1846
1. Introduce Yourself(who you are):
From WuHan，I'm working on WeChat bot to provide service to the student of CCNU.
2. Explain the Problem You Want to Solve:(what you do):
I want to build a WeChat Bot for praising pothers and providing some important information and service to them。
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adult & Sex NO
4.Your Email:
595192167@qq.com

[2019-09-06 06:16] heguofeng commented on #1810
I had the same problem

[2019-09-06 07:48] hugua commented on #1846
1、Introduce Yourself(who you are):
My name is Chenweifeng, I am come from Huangpu District of GuangZhou.
I am working in CVTE·视源股份 for a child education mobile app with a developer.

2、Explain the Problem You Want to Solve:(what you do):
We want to build a WeChat Bot to introduce our child educatio app to users and provide some service.

3、Are Your Bot Related with the Following Tasks? (YES/NO)
Ga

[2019-09-06 08:40] leeduckgo commented on #1846
Introduce Yourself(who you are):
My name is LeeduckGo,I am come from Haidian District of Beijing.
I am working as a Elixir Developer.
Explain the Problem You Want to Solve:(what you do):
working for the fans of me, building ecology for my self-domain.
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO
Your Email: leeduckgo@gmail.com
Your Wechat: 197626581
I Had Jo

[2019-09-06 09:26] tscc01 commented on #1846
1. Introduce Yourself(who you are):
Hi, I'm sola Li. A developer that worked some time with xposed.
2. Explain the Problem You Want to Solve:(what you do):
We want to build a WeChat Bot to auto answer user's questions like wiki.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling     NO
Adault & Sex    NO
4. Your Email:
tscc01@163.com
5. Your Wechat:
tscc01
6. I Had Joined the Wech

[2019-09-06 10:35] yuler commented on #1846
Introduce Yourself(who you are):
Hi, I'm YuLe. A Frontend developer.
Explain the Problem You Want to Solve:(what you do):
We want to build a WeChat Bot response some command.
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
joyful4yu@gmail.com
Your Wechat:
yule123000
I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md:

[2019-09-06 10:54] zhoushiwei533 commented on #1846
Introduce Yourself(who you are):
My name is ZhouShiWei,I am come from Pudong New Area of Shanghai.
I am working for a 	Electronic Commerce Company with a developer.
Explain the Problem You Want to Solve:(what you do):
personal interest, like fun things.
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO
Your Email: zhoushiwei533@163.com
Your Wechat: zhoushiw_9258

[2019-09-08 18:30] lijiarui commented on #1775
Close this since we deprecated this project.

[2019-09-08 18:30] #1775 closed

[2019-09-08 18:35] lijiarui commented on #1528
see #1530

[2019-09-08 18:35] #1528 closed

[2019-09-08 23:44] lijiarui opened #1850 "Use wechaty-puppet-mock as a template to getting started with Wechaty Puppet Provider developing."
wechaty is not only wechat connector, but it also contains a lot of tests, pack and deploy things.

Each time we made a new puppet, we have to reset these things.

If we could publish a wechaty-puppet-template package in the future, maybe it will make us way easier to do a new puppet.....

[2019-09-09 02:12] huan commented on #1850
We can use [wechaty-puppet-mock](https://github.com/Chatie/wechaty-puppet-mock) as the template, and it will exactly do what you want in your post.

![image](https://user-images.githubusercontent.com/1361891/64499120-4434c500-d2ea-11e9-88ae-17442e71c9b0.png)

[2019-09-09 03:34] arno-react commented on #1846
1. Introduce Yourself(who you are):
My name is Chen xiao and I come from shenzhen.
I work in an e-commerce company, doing development work
2. Explain the Problem You Want to Solve:(what you do):
Do e-commerce customer service system, 24 hours online
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO
4. Your Email: chenxiao_web@163.com
5. Your Wechat: o_o234
6.

[2019-09-10 09:14] juneyang commented on #1846
1. Introduce Yourself(who you are):
Hi, I'm YangJun and I come from Beijing
I'am a Front-End developer

2. Explain the Problem You Want to Solve:(what you do):
I was planing to build a Wechat Bot to service our customer。I bought a PadPro token last month and my development almost done. Sadly, I couldn't log in my bot account again after I republished my code to the server. So I need some protocol

[2019-09-10 09:50] xiaocode opened #1851 "wechaty-puppet can not install in electron"
When I use command: sudo yarn add wechaty-puppet-macpro@next,
It shows:

      V8_DEPRECATED("Use Isolate* version",
      ^
    /Users/apple/.electron-gyp/6.0.0/include/node/v8config.h:311:29: note: expanded from macro 'V8_DEPRECATED'
      declarator __attribute__((deprecated(message)))
                                ^
    41 warnings and 4 errors generated.
    make: *** [Release/obj.target/le

[2019-09-11 09:53] lh4111 commented on #1846
1. Introduce Yourself(who you are):

2. Explain the Problem You Want to Solve:(what you do):

3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling / NO
Adault & Sex / NO
4. Your Email: 411170138@qq.com
5. Your Wechat: ailihaoba
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: YES
7. I understand that the Wechaty Puppet MacPro is in very Early A

[2019-09-12 06:34] ZhangAixue commented on #1846
1.介绍你自己（你是谁）：
**我叫章艾雪，来自杭州，是一名前端开发人员**

2.解释你想解决的问题:(你做了什么）：

- **公司想开发一个后台，方便运营人员管理微信客户，分类管理。并对微信群聊进行监控，优化群聊的内部环境。**
- **已购买了PadPro token，然而无法登陆，获取不了数据**

3.您的机器人是否与以下任务相关？（YES / NO）
赌博 / **NO**
Adault＆Sex / **NO**

4.您的电子邮件：**zheling0110@163.com**

5.你的微信：**zax0110**

6.我通过README.md扫描QRCode 加入了Wechaty Developers的家庭微信室: **YES**

7.我知道Wechaty Puppet MacPro处于早期的Alpha阶段，我有必要的工程技术来处理错误，而不仅仅是寻求支持: **Y

[2019-09-14 21:12] alienanone commented on #1846
1. I'm foreign developer in China.
2. We need to manage multiple groups totaling at ~1000 people and would like to automate it.
3. NO, my activities are not related to gambling and sex/adult.
4. E-mail: alienanone@gmail.com
5. Wechat: yurakitay
6. YES, I've joined the group.
7. YES, I understand all these. --- Yury

PS. I have prior experience with wechaty when it was like ~0.13

[2019-09-16 02:15] snaildarter commented on #1846
1. Introduce Yourself(who you are):
I am a developer in Shenzhen City, Guangdong Province, China.

2. Explain the Problem You Want to Solve:(what you do):
Manage WeChat Group

3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling： NO
Adault & Sex:  NO

4. Your Email:
neal813@qq.com

5. Your Wechat:
neal813

6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from

[2019-09-16 10:25] Claude-Ray commented on #1846
1. Introduce Yourself(who you are):
Node.js dev `@wedoctor`, from HangZhou.

2. Explain the Problem You Want to Solve:(what you do):
The company `@wedoctor` is serving many patients and doctors. We need robots to answer the most common questions from patients very quickly, and reduce the workload of the wechat community management.
We have already purchased padpro and tried macpro, but now they ca

[2019-09-17 01:46] BigLoafer commented on #1846
1. Introduce Yourself(who you are):
    From ShangHai. Is doing market development related technology development
2. Explain the Problem You Want to Solve:(what you do):
    Help market operations management WeChat group
3. Are Your Bot Related with the Following Tasks? (YES/NO)
    Gambling NO
    Adault & Sex NO
4. Your Email:
     soso_hb_zx@163.com
5. Your Wechat:
     18627801539
6. I Had Joi

[2019-09-17 03:07] imhui commented on #1846
1. Introduce Yourself(who you are):
Hi, I'm imhui. I'm developer from Guangzhou.

2. Explain the Problem You Want to Solve:(what you do):
Help market operations management WeChat group

3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/NO
Adault & Sex/NO

4. Your Email: imhuidev@gmail.com

5. Your Wechat: liyonghui

6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan

[2019-09-17 03:25] magicthunder commented on #1846
1. Introduce Yourself(who you are):we are a social ecommerce company
2. Explain the Problem You Want to Solve:(what you do):the operation of social ecommerce.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling
Adault & Sex
no
4. Your Email:563111912@qq.com
5. Your Wechat:13661161411
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (Please joi

[2019-09-17 04:11] senfang commented on #1846
Introduce Yourself(who you are):
From Beijing. doing market analysis and technology development.
Explain the Problem You Want to Solve:(what you do):
Help customers management WeChat group and promotion
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
175919086@qq.com
Your Wechat:
zhangxu4178
I Had Joined the Wechaty Developers' Home Wechat Room by Sc

[2019-09-17 05:25] wang-zhishang commented on #1846
Introduce yourself (who you are) :
My name is wang zhishang. I come from shijingshan district, Beijing.
Explain the problem you want to solve :(what you did)
We want to better display WeChat public number for users
Is your robot relevant to the following tasks?(yes/no)
Gambling/no
Adventure and sex/no
Your E-mail: 990535168@qq.com
Your WeChat: wang990535168
I joined Wechaty developer's family WeCh

[2019-09-17 07:09] lingtl commented on #1846
介绍你自己（你是谁）：
来自广州。
解释你想解决的问题:(你做的）：
管理微信群
您的机器人是否与以下任务相关？（是/否）
赌博没有
Adault＆Sex NO
您的电子邮件：
lingtl2010@163.com
您的微信：
ling-tl2013
我通过README.md扫描QRCode加入了Wechaty Developers的家庭微信室：是的
据我所知，Wechaty Puppet MacPro处于早期Alpha阶段，我有必要的工程技术来处理错误，而不仅仅是寻求支持：
YES /Ling / 2019-09-17

[2019-09-17 07:34] SDFX-wei commented on #1846
1.介绍你自己：
微微，来自北京朝阳区。

2.解释你想解决的问题：
需要构建微信返利机器人

3.您的机器人是否与以下任务相关？
赌博  /  NO
Adault＆Sex  /  NO

4.您的电子邮件：wangxinwen@renaissance-era.com
你的微信：微信号banjiandaobaitou

6.我通过README.md扫描QRCode 加入了Wechaty Developers的家庭微信室:YES

7.我知道Wechaty Puppet MacPro处于早期的Alpha阶段，我有必要的工程技术来处理错误，而不仅仅是寻求支持:
是/微微/2019-9-17

[2019-09-17 07:37] SDFX-wei commented on #1846
1.介绍你自己：
微微，来自北京朝阳区。

2.解释你想解决的问题：
构建自己的RPA系统

3.您的机器人是否与以下任务相关？
赌博/ NO
Adault＆Sex / NO

4.您的电子邮件：wangxinwen@renaissance-era.com
你的微信：微信号banjiandaobaitou

6.我通过README.md扫描QRCode加入了Wechaty Developers的家庭微信室：是

7.我知道Wechaty Puppet MacPro处于早期的Alpha阶段，我有必要的工程技术来处理错误，而不仅仅是寻求支持：
是/微微/ 2019-9-17

[2019-09-17 07:54] makk24 commented on #1846
Introduce Yourself(who you are):
From Beijing. a programmer
Explain the Problem You Want to Solve:(what you do):
Get WeChat group qr code automatically
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
3229702869@qq.com
Your Wechat:
1009576562
I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md:
yes
I understand that the

[2019-09-17 13:31] leading commented on #1846
Introduce yourself (who you are) :
My name is Leading. I come from Guangzhou.
Explain the problem you want to solve :(what you did)
We want to better display WeChat public data for users
Is your robot relevant to the following tasks?(yes/no)
Gambling/no
Adventure and sex/no
Your E-mail: leading@thinkit.co
Your WeChat: leading-ing
I joined Wechaty developer's family WeChat room via readme.md scan Q

[2019-09-18 00:18] jerr123 commented on #1846
Introduce Yourself(who you are):
From Tianjin. Is doing wechat development related group purchase product
Explain the Problem You Want to Solve:(what you do):
use to help market operations management WeChat group, We have a group purchase product, we need to use WeChat robot to help the WeChat group operate, currently it is manual operation
Are Your Bot Related with the Following Tasks? (YES/NO)
G

[2019-09-18 07:22] ljspace commented on #1846
1. Introduce Yourself(who you are):
  lj, from fuzhou. engaged in disaster prevention and mitigation.
2. Explain the Problem You Want to Solve:(what you do):
  I would like to try to use WeChat Bot to provide services to the disaster prevention and mitigation department and improve work efficiency.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling: NO
Adault & Sex: NO
4. Your Ema

[2019-09-18 09:01] aydenuse opened #1853 "install error"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for aws-sdk@^2.526.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'memory-card'
npm ERR! notarget

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/

[2019-09-18 09:14] aydenuse commented on #1853
aws-sdk doesn't  have '@^2.526.0'  version

[2019-09-18 13:33] xuzongxuan commented on #1846
Introduce Yourself(who you are):
My name is Xuzongxuan, I am come from Tianjin.

Explain the Problem You Want to Solve:(what you do):
Chatting message anaylse.

Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO

Your Email: 42655966@qq.com
Your Wechat: xuzongxuan001

I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (Please join

[2019-09-19 03:30] compaq8420 commented on #1846
Introduce Yourself(who you are):
My name is Liqun(李群), I am come from Nanchang.

Explain the Problem You Want to Solve:(what you do):
 education

Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO

Your Email: 120910766@qq.com
Your Wechat: mencats

I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (Please join the group if you ar

[2019-09-19 06:18] #1853 closed

[2019-09-19 10:54] PandaTsui commented on #1846
1.Introduce yourself (who you are) :
My name is Xu ZhiXiang.I am come from Beijing

2.Explain the problem you want to solve :(what you did)
开发能服务于公司内部的微信机器人，智能监听客户的异常，汇报给我的值班工程师。

3.Is your robot relevant to the following tasks?(yes/no)
Gambling/no
Adventure and sex/no

4.Your E-mail:mr_xuxiaoxiang@163.com

5.Your WeChat: 13261688305

6.I joined Wechaty developer's family WeChat room via readme.md

[2019-09-19 11:01] yuwwww commented on #1846
1.介绍你自己：
雪毓，来自北京海淀区

2.解释你想解决的问题：
开发一个为公司产品服务的机器人

3.您的机器人是否与以下任务相关？
赌博/ NO
Adault＆Sex / NO

4.您的电子邮件：lxyy127@163.com
你的微信：微信号lxy01278991
6.我通过README.md扫描QRCode加入了Wechaty Developers的家庭微信室：是

7.我知道Wechaty Puppet MacPro处于早期的Alpha阶段，我有必要的工程技术来处理错误，而不仅仅是寻求支持：是
雪毓/ 2019-9-19

[2019-09-20 02:56] BryanBB commented on #1846
### **1.介绍你自己：**
在北京，和朋友一起经营一家小技术公司。
有10年+的开发和运维经验，熟悉ES6、jq、vue、c#、java、php、Linux Shell等。

### **2.解释你想解决的问题：**
希望做一个一对一的个人助手，深入理解每一个用户的需求。

### **3.您的机器人是否与以下任务相关？**
赌博/ NO
Adault＆Sex / NO

### **4.您的电子邮件：**
1847414949@qq.com

### **5.你的微信：**
wdexu2013

### **6.我通过README.md扫描QRCode加入了Wechaty Developers的家庭微信室：**
是

### **7.我知道Wechaty Puppet MacPro处于早期的Alpha阶段，我有必要的工程技术来处理错误，而不仅仅是寻求支持：**
是

Bryan /

[2019-09-20 03:44] 72percent commented on #1846
**Introduce Yourself(who you are):**
I'm ERIC, and I'm working in Guangzhou.
I have been an IT engineer for more than 10 years.
**Explain the Problem You Want to Solve:(what you do):**
Receive our customers' messages and reply.
**Are Your Bot Related with the Following Tasks? (YES/NO)**
Gambling/ NO
Adault & Sex/NO
**Your Email:**
121624870@qq.com
**Your Wechat:**
hackglobal
**I Had Joined the Wec

[2019-09-20 06:27] kis87988 commented on #1846
1. Introduce Yourself(who you are):
William Chen
2. Explain the Problem You Want to Solve:(what you do):
Student and community build up
3. Are Your Bot Related with the Following Tasks? (YES/NO)
   - Gambling NO
   - Adault & Sex NO
4. Your Email:
kis87988@gmail.com
5. Your Wechat:
kis87988
6. I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md: (Please join the gro

[2019-09-20 07:01] ccforeverd commented on #1846
1. Introduce Yourself(who you are):
Zhang Shuyao, being a fe for more than 5 years and having worked at the Kingsoft Office in Beijing for 3 and a half years.
2. Explain the Problem You Want to Solve:(what you do):
To add listeners to some wechat subscriptions to get some informations about shoes.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
    - Gambling NO
    - Adault & Sex NO
4.

[2019-09-20 10:17] v-yafeili commented on #1846
1.Introduce Yourself(who you are):
   I'm Rapheal, and I'm working in BeiJing.
   I have been an IT engineer
2. Explain the Problem You Want to Solve:(what you do):
   Receive our customers' messages and reply.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
    Gambling/ NO
    Adault & Sex/NO
4. Your Email:
 337605876@qq.com
5. Your Wechat:
 li337605876
6. I Had Joined the Wechaty Dev

[2019-09-20 10:43] HebeBlock commented on #1846
1.Introduce Yourself(who you are):
I'm Zhang, Currently a freelance，I have used JS for more than 6 years.
2. Explain the Problem You Want to Solve:(what you do):
Receive our customers' messages and reply.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO
4. Your Email:
317482454@qq.com
5. Your Wechat:
z317482454
6. I Had Joined the Wechaty Developers' Home Wec

[2019-09-20 13:08] vk001-all commented on #1846
Introduce Yourself(who you are):
My name is YuJiang,I am come from Chengdu
I am working for a education mobile app with a developer.
Explain the Problem You Want to Solve:(what you do):
There are some difficult points in our business operate team, for example ,the software which they are using,can not be persistence any message.
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO

[2019-09-21 08:19] qingfengyecao commented on #1846
Introduce Yourself(who you are):
My name is Wuijie,I am come from GuangDong
I am working for a education mobile app with a developer.
Explain the Problem You Want to Solve:(what you do):
Receive our customers' messages and reply.
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO
Your Email: 1098241922@qq.com
Your Wechat: qingfengHelloWorld
I Had Joined the Wechat

[2019-09-21 10:36] ManlyOs commented on #603
我在linux下用火狐浏览器扫码登陆登录不上,然后我用chromium成功登陆上了,很是惊讶,估计腾讯可能通过某种渠道获取到我操作系统类型,然后我尝试用火狐隐私浏览模式(快捷键是Ctrl+Shift+P),扫码登陆成功登上!^_^

[2019-09-22 06:51] lijiarui commented on #1846
Cheers! @lauzhihao @qiqizjl @k0R73z @jerr123 @josephpei @lxfater @lh4111 @ZhangAixue @PandaTsui Your application had been approved, please check your email and follow the steps to join the Alpha Tester List Wechat Room.

[2019-09-22 07:02] xuzongxuan commented on #1846
您好，我是徐宗宣，希望申请参加测试。我们想应用咱们的接口开发舆情监控系统。
与Michael和车总开过一次会，大家觉得我们的应用场景很有前景。
希望让我们加入测试。谢谢

---Original---
From: "lijiarui"<notifications@github.com&gt;
Date: Sun, Sep 22, 2019 14:52 PM
To: "Chatie/wechaty"<wechaty@noreply.github.com&gt;;
Cc: "Comment"<comment@noreply.github.com&gt;;"xuzongxuan"<42655966@qq.com&gt;;
Subject: Re: [Chatie/wechaty] wechaty-puppet-macpro alpha test (#1846)

Cheers! @lauzhih

[2019-09-22 07:16] lijiarui commented on #1846
Cheers! @xuzongxuan  Your application had been approved, please check your email and follow the steps to join the Alpha Tester List Wechat Room.

[2019-09-23 01:29] fishfree commented on #1842
@lijiarui  Page not found, now. How to do?

[2019-09-23 06:36] yuwwww commented on #1846
Introduce Yourself(who you are):
My name is LiXueyu,I am come from Beijing
Explain the Problem You Want to Solve:(what you do):
Develop a WeChat robot for the company's products
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault & Sex/NO
Your Email: lxyy127@163.com
Your Wechat: 13141171998
I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md:

[2019-09-24 01:39] uning commented on #1846
Introduce Yourself(who you are):
ZengTingkun,From Beijing. Is doing market development related technology development
Explain the Problem You Want to Solve:(what you do):
customer service  & efficiency
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
tingkunz@qq.com
Your Wechat:
tingkun
I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRC

[2019-09-24 08:57] su-chang opened #1855 "Function message `toContact()` should to be implemented."
**Is your feature request related to a problem? Please describe.**

As we know, we can send `ContactCard` message peer to peer or to room in Wechaty, but we can do nothing when we received a `ContactCard` message in Wechaty.

**Describe the solution you'd like**

I hope that we can use `ContactCard` to add friend. Then we can add friend in room or pm by Wechaty.

**Describe alternatives you've con

[2019-09-24 09:40] su-chang opened #1856 "Implement Label in Wechaty"
**Is your feature request related to a problem? Please describe.**

if someone has a lot of friends, `Label` is indeed needed for manage friends list.

**Describe the solution you'd like**
we need some function like these:
  - get all labels (For example: [{label: 'xxx', members: ['xxx1', 'xxx2', ... , 'xxxx']}])
  - add label
  - update friend's label

**Describe alternatives you've considered**

[2019-09-24 10:06] huan commented on #1856
Thank you very much for the proposal!

A PR will be welcome for discussing, and also please notice that we have another thread talked about this topic before.

Please link to that issue and also read it carefully to learn more from the past discussions.

[2019-09-24 10:09] huan commented on #1855
Could you explain that why don't we use the Contact directly for this case?

Is there any reason make us have to create a new class for using it?

[2019-09-24 11:51] su-chang opened #1857 "Function xxx.say() should return message id, make Wechaty message easy to extend."
**Is your feature request related to a problem? Please describe.**

When I want to recalled the message which I have send just now, I don't know the message unique id of it in Wechaty.

**Describe the solution you'd like**

The return type of function `xxx.say()` should change from `Promise<void>` to `Promise<string>`, let's make it return the message id for extend options.

For example:
[code]

*

[2019-09-24 12:01] huan commented on #1857
I liked this idea. Would love to see your PR and study how you could implemented it.

After that, we will be able to discuss it in details.

[2019-09-24 12:03] su-chang commented on #1855
you are right, the `ContactCardPayload` should be replaced by `ContactPayload`.

I just mean `ContactCardPayload` for message type `ShareCard`, there's no need to create a new class in coding. Thx for pointing out this.

[2019-09-24 12:07] su-chang commented on #1856
#1627

[2019-09-24 12:09] su-chang commented on #1856
#1627

[2019-09-24 12:38] huan commented on #1856
Glad to see you had connected to the previous conversion.

It is very important that we should always continue our discussion, based on the already learned knowledge, instead of creating a branding new one from scratch.

[2019-09-24 18:26] xinbenlv commented on #1846
Introduce Yourself(who you are):
xinbenlv, wechaty contributor, Google and Open Source

Explain the Problem You Want to Solve:(what you do):
Open Source development and community building.

Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
wechaty-macpro@zzn.im
Your Wechat:
xinbenlv
I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode f

[2019-09-25 05:42] LinuxSuRen commented on #1846
1. Introduce Yourself(who you are):
I'm the leaders of [the Chinese Jenkins community](https://github.com/jenkins-zh).

2. Explain the Problem You Want to Solve:(what you do):
We hope that we can use this tech to manage our tech WeChat group with no hands.

3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling: No
Adult & Sex: No

4. Your Email:
My email is [rick at jenkins-zh.cn](ri

[2019-09-26 02:23] josephktcheung commented on #1846
1. Introduce Yourself(who you are):
Joseph, from Hong Kong, I'm working on wechat bot to provide excellent customer service to professionals
2. Explain the Problem You Want to Solve:(what you do):
Help client manage chat messages in WeChat
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
4. Your Email:
josephktcheung@gmail.com
5. Your Wechat:
joseph_kt_cheung

[2019-09-26 08:41] lijiarui commented on #1842
@fishfree because we delete the Chinese doc. See: https://docs.chatie.io/#web-wechat-limitations

[2019-09-26 09:21] manfwh commented on #1846
1. Introduce Yourself(who you are):
My name is FuWanHong,I am come from taiyuan of shangxi.
I am working for a education mobile app with a developer.
2. Explain the Problem You Want to Solve:(what you do):
I want a robot to come out with questions, let the students in the group interact, and then count the questions.
3. Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling/ NO
Adault &

[2019-09-27 01:39] makk24 commented on #1846
Introduce Yourself(who you are):
From Beijing. a programmer
Explain the Problem You Want to Solve:(what you do):
Get WeChat group qr code automatically
Are Your Bot Related with the Following Tasks? (YES/NO)
Gambling NO
Adault & Sex NO
Your Email:
3229702869@qq.com
Your Wechat:
1009576562
I Had Joined the Wechaty Developers' Home Wechat Room by Scan QRCode from README.md:
yes
I understand that the

[2019-09-29 11:10] lijiarui commented on #1846
# UPDATE
Since too many people apply for the alpha test, so we change the way to apply the alpha test. You can send an email to dev@juzi.bot follow the template below.

📣Notice:

1. We will send 30 tokens per month according to your scenario.
2. We will reply to your email at 15th and 30th of each month whether you get the alpha test or you are still in the waiting list.
3. Be sure to describe you

[2019-09-29 11:10] #1846 closed

[2019-10-08 12:08] su-chang commented on #1855
All the supported `toContact()` method PR here:

https://github.com/Chatie/wechaty/pull/1862
https://github.com/Chatie/wechaty-puppet/pull/59
https://github.com/botorange/wechaty-puppet-padplus/pull/38

[2019-10-08 23:13] greenkeeper[bot] opened #1863 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.6.2` to `7.6.3`.
- The `devDependency` [@babel/node](https://www.npmjs.com/package/@babel/node) was updated from `7.6.2` to `7.6.3`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.

[2019-10-09 03:58] huan commented on #1855
Please remember to reference this issue in your other PRs/Issues, so that we can get a clear reference list when reading this issue.

[2019-10-09 12:40] su-chang commented on #1627
@huan
Here are some Raw API and their response data.

- Raw API name : AddLabel

[code]

- Raw API name : GetAllLabel

[code]

- Raw API name : ModifyLabel

[code]

[2019-10-10 05:09] huan commented on #1855
The above links from the PR to here can make the status clear, that's the reason why we should reference this issue in other PRs/Issues.

[2019-10-11 02:09] su-chang commented on #1856
@huan
Here are some Raw API and their response data.

- Raw API name : AddLabel

[code]

- Raw API name : GetAllLabel

[code]

- Raw API name : ModifyLabel

[code]

[2019-10-11 02:13] su-chang commented on #1856
For wechaty:

I think we should create a `Tag` class, the methods list:

- newTag(tag: string): Promise<string>
- findAll(): Promise<TagPayload []>
- find(tag: string): Promise<TagPayload>
- sync(): Promise<void>

- updateTag(oldTag: string, newTag: string): Promise<void>

and add some methods on `Contact` class, the methods list:

- addTag(tag: string): Promise<string>
- tags(): Promise<TagPayloa

[2019-10-12 03:12] njdmznkj opened #1865 "PuppetManager install(wechaty-puppet-padpro@^0.3.21) please wait"
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[question]
PuppetManager install(wechaty-puppet-padpro@^0.3.21) please wait???

[2019-10-12 07:19] huan commented on #1865
It need to install the wechaty-puppet-padpro when you run wechaty.

You can:

1. Pre-install it by running `npm install wechaty-puppet-padpro@0.3.21`, then run your code again.
1. Just wait for it to be installed. It might take a while (from dozens of seconds to more than 10 minutes, depends on your network and your environment).

[2019-10-12 07:43] huan commented on #1856
Cloud you show some design example for:

1. How can we add a tag to a contact?
1. How can we search for contacts by tag?

[2019-10-12 07:53] su-chang commented on #1856
const contact = bot.Contact.load('xxx')
contact.addTag('Test') // for 1
bot.Tag.getContactList('Test') // for 2, this method is not implemented.

Maybe we should change TagPayload -> Tag ?
[code]

[2019-10-12 08:00] huan commented on #1856
1. About add a tag, my design would like to be:

[code]

2. about the search, I'd like to be:

[code]

I'm open for discussion, the goal is to keep our API simple, clear, and concise.

[2019-10-12 08:21] su-chang commented on #1856
for this design, I think its better:
[code]

so we manipulate contact's tag by Tag, rather than Contact?

[2019-10-12 08:27] huan commented on #1856
I feel to manipulate the contact tag by Tag will be better, because the tag might be reused by other types of items, like a Favorite.

BTW: I do not think we should provide a `tag.del()` to delete all the items that have that tag, it's too dangerous. A developer might call this method by mistake and then he lost all his data.

[2019-10-12 08:37] su-chang commented on #1856
OK, agree!

BTW, I have no idea about the Favorite.

it can add some Image / Video / UrlLink or something else to one's Favorite?

right?

[2019-10-12 08:54] huan commented on #1856
Yes, what you think about the Favorite is all right. It should just like what we can do in Wechat App.

[2019-10-14 09:23] su-chang commented on #1856
#### Tag Side Methods
- create a new Tag
[code]

- delete a Tag  `Not Supported By API`
[code]

- update a Tag  `Not Supported By API`
[code]

- get a Tag, it will return TagPayload
[code]

- get all tags across the Bot
[code]

#### Contact Side Methods

- get all tags of the Contact
[code]

#### Double Side Methods
- get all contacts of the Tag
[code]

[code]

- set Contact to Tag
[code]

- set T

[2019-10-15 14:14] huan commented on #1627
I would like to think about the design of our Tag system as the following code demonstrating, based on all the above discussions:

[code]

### The design behind the code

1. if users want to modify, you only need to do a `del() then add()`, which had been demonstrated above;
1. Users need not care about "create" any tag. All they need to do is to just "get" a tag by `Tag.get()`. We create the tag

[2019-10-16 03:35] windmemory commented on #1627
@huan
The code to get the tag list is easy to understand, but we know that this piece of code will be written thousands of times by our developers if we implement the method like you describe above, because to get the list is a very common action.
So how about we add the `findAll` method to `Tag` also, which is consistent with the other class that we have, the `Contact` and `Room`. In this way, ou

[2019-10-16 03:40] huan commented on #1627
No problem.

Add a new method like Tag.findAll() is acceptable.

I wrote the code before for demonstrating how the under design works.

[2019-10-16 03:43] windmemory commented on #1627
So the label feature will be implemented with the `Tag` class you demonstrated above, and one more method `tags` on `Contact` class, am I right?

[2019-10-16 03:47] huan commented on #1627
Yes, that's exactly what we are talking about right now.

Please go ahead and I'm good with them.

[2019-10-29 10:43] collinsyu commented on #1567
hi,how to solve this problem, i have the same problem

[2019-10-30 03:45] greenkeeper[bot] opened #1869 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.11.7` to `12.12.0`.

🚨 [View failing branch](https://github.com/Chatie/wechaty/compare/master...Chatie:greenkeeper%2F%40types%2Fnode-12.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a devDepen

[2019-10-31 09:13] #1855 closed

[2019-10-31 17:11] #1869 closed

[2019-11-04 11:57] su-chang opened #1871 "Design an new `Image` class for receive images with different sizes."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We can download image by this method `toFileBox()`, but we can not choice the image quality. Sometime we need compressed image only.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Maybe w

[2019-11-04 12:07] #1857 closed

[2019-11-05 02:28] huan opened #1872 "JSDoc publishing problem: missed the Room class"
The JSDoc from <https://github.com/Chatie/wechaty/blob/master/src/user/room.ts#L422-L430> has not been published properly at <https://chatie.io/wechaty/#Room+say>

There might be other classes missed as well, which need to be invested & fixed.

[2019-11-05 07:46] huan commented on #1627
Merge to #1856

[2019-11-05 07:46] #1627 closed

[2019-11-05 07:54] huan commented on #1856
My opinion would be the following methods should not exist in our design:

1. ~~Tag.create()~~
1. ~~Tag.del~~
1. ~~Tag.update()~~
1. ~~Contact.setTag()~~
1. ~~Contact.delTag()~~

Because they are more like to be confusing the developers instead of being useful.

And, Favorite and Contact is different, but the Tag abstract should be the same.

Please review my previous design suggestions, and try t

[2019-11-05 10:23] su-chang commented on #1856
Thanks for your suggestions. @huan

The new design:

[code]
- Tag Class
[code]

- Contact Class
[code]

That's all new methods related to the Label.

[2019-11-05 10:52] huan commented on #1856
`Tag.create()` should be `Tag.get()` because no one care about creating any tags, what we need is a tag with a name.

P.S. I have written a design for you before at https://github.com/Chatie/wechaty/issues/1627#issuecomment-542234015, please review it before you go any further.

[2019-11-05 11:06] su-chang commented on #1856
Of course, I have reviewed them. But I think `create` is better than `get` in semantic. Here are some reasons about this:

`create` means that we will get a new Label that we want, so user will know what they do.

`get` means that we will find a Label which named xxx. If we use `get` to create a new Label, any string will be created as a new tag, and then it will make a lot of new Labels. But the

[2019-11-05 11:13] huan commented on #1856
I'm sorry I can not agree with you.

Wechat has neither any UI for creating tags (itself) nor any UI for deleting tags (itself), hasn't it?

[2019-11-05 11:16] huan commented on #1871
What if the message instance is not an image, let's say, it's an attachment file like a PDF?

[2019-11-05 11:20] su-chang commented on #1856
Nope, WeChat App has `Create Tag` and `Delete` for tag in Tags.

[2019-11-05 11:24] huan commented on #1856
I don't think so. Could you please provide some evidence to prove your opinions?

[2019-11-05 11:34] su-chang commented on #1856
You can prove it in your phone easily.

WeChat App -> Contacts -> Tags -> `EVIDENCE`

P.S. Something went really wrong, that I can not upload image here.

[2019-11-05 11:37] su-chang commented on #1871
Good catch! Maybe we should ignore this options in other cases except image.

[2019-11-05 13:26] huan commented on #1856
That's not my point.

Everything will be ok without this feature. You can image that and then will agree with me. We can totally ignore it without any problem.

To make my point clear: there's no need to "create" a tag explictly. Just use it should be the best practice.

[2019-11-05 13:57] su-chang commented on #1856
Got it.

I'm just afraid of someone will use `get` to search Tag, and then will make a lot of Tags which are useless, and the terrible thing is that they can not delete them by bot(*NOT SUPPORTED BY API*), they need to delete them one by one in their WeChat App.

If the user could use `get` like what we want, there is no problem with `get` to create a new Tag.

[2019-11-06 02:25] tangjoin opened #1873 "需要取到Contactid或者微信号"
请问有更详细的文档吗, 中文文档有吗

[2019-11-06 02:54] su-chang commented on #1873
The doc link : https://docs.chatie.io/

[2019-11-06 02:57] #1873 closed

[2019-11-06 03:10] tangjoin opened #1874 "调试开发,很麻烦, 有没有好的测试方法,每次都要扫码登录,烦琐的工作!"
记得puppeteer有一个接口,puppeteer.connect(options), 可以连接到现有的puppeteer上,
wechaty有暴露出puppeteer.connect(options)接口吗,   这样我们就可以开一个puppeteer服务,
wechaty测试开发时连接 puppeteer服务,更好的调试逻辑代码,避免每次都要扫码登录,烦琐调试工作!
        小白一个知识面小, 如有其它好调试的方法, 希望能告知一二,谢谢

[2019-11-07 23:39] huan commented on #1871
Sorry, that will not be acceptable, because it will make the API dirty. We should make the API clean as possible as we can.

The thumb option is totally non business related to the FileBox method, so we should avoid to put it here.

I'd like to think about to add a new method like `toImage()` which return a simple WeChat Image object, it can be convert to thumb, or the full sized image.

Could you

[2019-11-08 02:14] su-chang commented on #1871
Thanks for your suggestion, I agree with you.

- raw payload message for image
[code]
- raw payload in Padplus
[code]
- load the full sized image for the image message
[code]

the `src` is the full sized image url.

[2019-11-09 04:07] huan commented on #1872
### The Problem

If we use a `@private` to document a constructor of the class, then this class will not be documented by the JSDoc.

Like the following code:

https://github.com/Chatie/wechaty/blob/df0aec498b3f7c4145082aff9403f27bd43ee4bd/src/user/room.ts#L270-L273

### The Solution

In order to keep the constructor out of the document, we need to use `@hideconstructor`.

See: <https://stackoverf

[2019-11-09 04:25] #1872 closed

[2019-11-14 06:39] huan commented on #1874
You can save your profile when creating the Wechaty instance so that you can save your session between restarts.

[2019-11-22 08:46] mandaren opened #1877 "msg.mentionSelf()方法不对，始终返回false"
async function message(msg){
    const isAtSelf = await msg.mentionSelf()
    console.log(isAtSelf)
}
最简单的复现

[2019-11-22 09:06] mandaren commented on #1877
这个是macpro的问题，我移到macpro去了

[2019-11-22 09:06] #1877 closed

[2019-11-24 12:36] losetime opened #1878 "bot.logonoff()报错【static puppet not found for Wechaty】"
## 1. Versions
- What is your wechaty version?
Answer:0.29.5，0.28.3，0.22.1

- Which puppet are you using for wechaty? (padchat/puppeteer/padpro/...)
Answer: puppeteer

- What is your wechaty-puppet-XXX（padchat/puppeteer/） version?
Answer: 0.18.2

- What is your node version? (run `node --version`)
Answer: 10.15.1，12.13.1

- What os are you using
Answer: windows

## 2. Describe the bug
当前我想知道微信web的

[2019-11-25 05:48] windmemory commented on #1871
Is there any progress on this thread? @huan @su-chang

[2019-11-25 05:57] quhuainan commented on #1801
强烈希望能添加这个功能。真的好重要

[2019-11-25 06:06] quhuainan commented on #1801
悬赏300块红包，开发这个功能。做完了，可以找我领。微信：15510974083

[2019-11-25 06:11] iyjian commented on #1874
you can implement a mock puppeteer just like [wechaty-puppet-mock](https://github.com/wechaty/wechaty-puppet-mock) ,  sending mock qr code, contacts profiles, group profiles after puppeteer started, and then make appropriate reponses to the wechaty command.

[2019-11-25 06:16] jingpg opened #1879 "自动同意加入超过40人的大群"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-25 09:53] windmemory commented on #1856
@huan @su-chang Any updates on this issue?

[2019-11-25 10:51] su-chang commented on #1856
@windmemory  I will change some related methods in PR later, the best practice is better.

[2019-11-25 12:08] huan commented on #1879
Thanks for the feature request.

Could you please tell us which puppet protocol you mentioned for?

I will help you to move this issue to the right puppet repo after get to know that.

[2019-11-25 12:12] huan commented on #1874
@iyjian That's correct.

I'll treat this is an advance unit testing method for your project, and if anyone is interested in using a  `wechaty-puppet-mock` to do unit testing, please let me know!

[2019-11-25 12:14] huan commented on #1871
@windmemory more draft design from @su-chang  will be welcome!

[2019-11-25 13:55] huan commented on #1871
For example, if we abstract a new class named `XXXImage`:

1. What candadites will be able to descript this new class? Why?
1. What methods does this new class need?

[2019-11-26 07:12] su-chang commented on #1801
对于该功能的支持，给大家提供一些参考。

- 目标

  需要给 wechaty 新增一个接口来获取收到好友请求的好友来源。

- 数据依赖

[code]
  自动通过好友后，会接收到底层发来的一条消息，通过其中的 `RecommendInfo` 字段可以获取好友请求的详细信息，如：微信号，昵称，来源等。

- 数据解释

  `RecommendInfo`该字段所对应的对象中 `scene` 字段表示好友的来源，具体对应关系如下：

  1：QQ
  2：邮箱
  3：微信号
  14：群聊
  15：手机号
  18：附近的人
  25：漂流瓶
  29：摇一摇
  30：二维码

欢迎感兴趣的小伙伴进行开发，有任何相关问题均可在该 issue 中进行交流讨论。

[2019-11-26 10:29] su-chang opened #1880 "Support Moments related methods."
**Is your feature request related to a problem? Please describe.**

Support Moments related methods could make Wechaty be better.

**Describe the solution you'd like**

The API which I design based on the WeChat underlying protocol:

[code]

The model data:

[code]

And I have saw the related issue which @huan created.

[code]

Could not supported by underlying protocol, because of they have no Mo

[2019-11-26 10:33] su-chang commented on #1880
@huan Could you give me some suggestions about Moments design when you are available? Thank you very much.

[2019-11-27 05:48] JackSengKing opened #1881 "现在用不了了呀，网页版的api现在不能登陆了"
![image](https://user-images.githubusercontent.com/29450408/69697355-2aeb2a00-111d-11ea-9e4d-158443c891ff.png)
🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/wechaty

[question]

[2019-11-27 05:51] JackSengKing commented on #1881
![image](https://user-images.githubusercontent.com/29450408/69697275-02633000-111d-11ea-9dd6-e42bc36812df.png)

[2019-11-27 07:04] JackSengKing commented on #1879
hello  你现在的这个还能用么，登陆的API不是用不了吗？

[2019-11-27 07:39] jingpg commented on #1879
padplus

[2019-11-27 17:53] laoshaw commented on #1881
[code]

It's a shame Wechat does not support web client for newer accounts. I'm on Linux and now have to use phone to type everything?

[2019-11-28 07:18] acid-tech opened #1882 "I want wechaty puppet padpro token to create a wechat bot"
I have connected with **botorange2** on wechat. As per the suggestion I got from him, I am creating this issue to get a token with the template information as follows:

1. Introduce Yourself(who you are): developer of a startup
2. Explain the Problem You Want to Solve:(what you do): Message listening for Some companies
3. Your Email: yash@acid-tech.com
4. Your Wechat: meghal_132
5. I Had Joined th

[2019-11-28 07:47] su-chang commented on #1882
We have received your email, and will have a meeting with you at 2 p.m. tomorrow.

Please close this issue and see you tomorrow, thank you.

[2019-11-28 08:06] acid-tech commented on #1882
Sure, Can you please confirm your timezone for the meeting?
I am in India and my timezone is IST.

[2019-11-28 08:08] su-chang commented on #1882
OK, the meeting time: 06:00:00(UTC), are you free at that time?

[2019-11-28 08:12] acid-tech commented on #1882
I am confirming the timing as 6 a.m. (UTC) which will be 11:30 a.m IST. I am comfortable with this timings.
Please confirm it from your side so that I can close the issue.

[2019-11-28 08:14] su-chang commented on #1882
Confirmed! Thank you.

[2019-11-28 08:15] acid-tech commented on #1882
See you in the meeting.
Will use the meeting ID which I got after registration on Calendly.
Thanks.

[2019-11-28 08:15] #1882 closed

[2019-11-28 09:35] noobalex commented on #603
fail

[2019-11-30 03:11] wangsijie commented on #1881
我的老账号也不能，所以即使切换到PuppetMacpro也是用的网页版接口吗

My old account cannot login either, switch WECHATY_LOG to PuppetMacpro still doesn't work.

[2019-12-02 08:23] tangjoin commented on #1874
如何保存一个实例, 在文档中没有找到对应的api

[2019-12-03 12:35] su-chang commented on #1880
New design's example for Moments:

- post moments

[code]

- get moments time line

[code]

- get moments detail
[code]

- comment or like for moments
[code]

- delete moments or like
[code]

Waiting for your review, thank you very much for your time.

[2019-12-03 14:33] fastlane0220 commented on #1881
Have the same issue(My account was registered before 2017)
wechaty & puppeteer version:  "dependencies": {
    "puppeteer": "^2.0.0",
    "qrcode-terminal": "^0.12.0",
    "wechaty": "^0.22.1"
  }
Run Environment: Mac OS; node version: 12.13.1
See the error msg screen-shot below:
![image](https://user-images.githubusercontent.com/15046625/70059388-a7996f00-161b-11ea-8d1d-bb13bac45995.png)

[2019-12-04 10:55] su-chang commented on #1880
Related data structure : https://github.com/wechaty/wechaty-puppet-padplus/wiki/Grpc-Moments-API

[2019-12-04 14:55] 1057437122 commented on #1880
how about delete others' comments?

[2019-12-05 00:43] su-chang commented on #1880
Good question, the method delete other's moments not supported now.

[2019-12-05 04:24] su-chang commented on #1880
**Question about `timeline()`**

*How to get new moments?*

  - add params: `timeline(page: string)`?
  - add new method: `newTimeline()`?

If anyone have good idea about this, please let me know, thank you very much.

[2019-12-05 09:09] windmemory commented on #1881
Please check https://docs.chatie.io/v/zh/#web-limit-1

[2019-12-06 11:39] SilentQianyi opened #1885 "主动撤回消息"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
实现主动撤回消息功能。

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
在message中增加撤销消息api

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fe

[2019-12-08 14:51] huan commented on #1874
@tangjoin You can specify the `name` options in the [WechatyOptions](https://wechaty.github.io/wechaty/#WechatyOptions)

[2019-12-09 03:21] SilentQianyi commented on #1885
在底层实现中所需参数

因为三个参数都必须拥有，其中toUserName是接收方id，所以需要receiver参数。

[2019-12-09 03:45] SilentQianyi commented on #1885
wechaty：
    在message中实现recall方法，返回值是boolean类型。
[code]
wechaty-puppet:
receiver: 需要撤回消息的接收方，messageId: 需要撤回的消息id
[code]
wechaty-puppet-padplus:
selfId: 自己的id，receiverId: 需要撤回消息的接收方，messageId: 需要撤回消息的消息id
[code]
在该方法中需要调用底层方法，需要参数：
[code]
返回值：
[code]

[2019-12-12 03:34] LaoHu97 commented on #1878
同问

[2019-12-19 09:38] esmiles commented on #1648
I also meet this issue with wx web api.

[2019-12-22 12:51] huan opened #1887 "Implmented UrlLink.create(url) with Open Graph support"
If a url is following the [Open Graph](https://ogp.me/) Standard, then the UrlLink will create the message card from the Open Graph information.

[2019-12-22 12:59] #1887 closed

[2019-12-23 16:49] huan opened #1889 "{Room,Contact}.qrcode() should return QR Code Value instead of Image"
I found some puppet implementation return the Base64 of the QR Code Image when calling the `qrcode()` of Contact / Room, which is not right.

## The `qrcode()` function is designed to return the QR Code value.

According to the <https://stackoverflow.com/a/12764370/1123955>, the QR CODE max char length is 7,089.

So I will add a check/guard in the `qrcode()` function to make sure the data is no mo

[2019-12-23 16:53] huan commented on #1889
@windmemory Please notice that this is a BREAKING CHANGES for your system if you are using `qrcode()` as an image base64 generator.

I hope you can fix your server without any problem!

[2019-12-23 17:01] #1889 closed

[2019-12-24 06:58] SilentQianyi opened #1890 "延期通过好友"
**Is your feature request related to a problem? Please describe.**
可以延期通过好友，可以存储好友请求

**Describe the solution you'd like**
在friendship中增加getPayload()方法，来获取好友请求的详细数据
在friendship中增加build()方法，通过payload数据来补充friendship数据

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context o

[2019-12-24 07:23] SilentQianyi commented on #1890
wechaty：
在friendship中实现getPayload方法, 返回friendship的payload。
[code]
在friendship中实现build方法, 传入需重新创建的payload。
[code]

wechaty-puppet:
判断缓存中是否已经存在该payload，不存在时进行存储。
[code]
wechaty-puppet-padplus:
将传入的payload 进行存储。
[code]

[2019-12-24 07:42] SilentQianyi commented on #1890
example:
[code]

[2019-12-24 11:32] windmemory commented on #1890
I think we could use `fromJson` and `toJson` to accomplish this.

[code]

[2019-12-25 10:51] SilentQianyi commented on #1890
wechaty：
在friendship中实现toJson方法, 将friendship的payload转成的 Json格式 返回。
[code]
在friendship中实现静态方法fromJson, 通过传入Json格式的payload 来获得Friendship。
[code]

wechaty-puppet:
调用friendshipPayloadSave, 调用成功后将payload数据存入缓存。
[code]
wechaty-puppet-padplus:
将传入的payload 进行存储，并返回payload。
[code]

[2019-12-25 11:02] SilentQianyi commented on #1890
example :
在接收到好友请求时，我们可以将好友请求 通过toJson 函数，获得Json格式的payload。在我们需要的时候，可以将存储在本地的Json格式payload 传入静态方法 fromPayload 来获得Friendship。之后我们就可以对Friendship 进行操作。
[code]

[2019-12-25 12:29] su-chang opened #1892 "Support search new friends by phone number or user name."
**Is your feature request related to a problem? Please describe.**

Wechaty have `bot.Friendship.add()` method for add new friend, but we can not make sure the new friend is who we want to add, so we hope Wechaty could support search friend, and then we could check the new friend by this API.

**Describe the solution you'd like**

### Base

In primary level, the `add()` method has two steps :

- s

[2019-12-26 11:43] SilentQianyi opened #1893 "room.say() 中参数类型为 TemplateStringsArray 时存在问题"
## 0. Report Issue Guide

1. Please run the following command and check whether the problem has been fixed：
[code]

2. Please search in [FAQ List](https://docs.chatie.io/faq) first, and make sure your problem has not been solved before.

3. Please search in the issue first, and make sure your problem had not been reported before

## 1. Versions
- What is your wechaty version?
Answer: 0.29.22

- Wh

[2019-12-28 09:29] huan opened #1896 "Support new event named "message" on Room"
So we can use

[code]

[2019-12-28 09:29] huan opened #1897 "Support new event named "message" on Room"
So we can use

[code]

[2019-12-28 09:30] huan commented on #1896
#1897

[2019-12-28 09:30] #1896 closed

[2019-12-28 10:34] STDSuperman opened #1898 "启动官方学习项目报错"
18:31:24 ERR PuppetPuppeteerBridge start() exception: Error: net::ERR_PROXY_CONNECTION_FAILED at https://wx.qq.com
18:31:24 ERR PuppetPuppeteer initBridge() exception: Error: net::ERR_PROXY_CONNECTION_FAILED at https://wx.qq.com
18:31:24 WARN PuppetPuppeteerBridge stop() page.close() exception: Error: Protocol error: Connection closed. Most likely the page has been closed.
18:31:24 ERR PuppetPuppe

[2019-12-28 10:55] #1898 closed

[2019-12-29 11:04] huan commented on #1893
I feel very strange when seeing you are using:

[code]

I believe the template string array should be used like the following code:

[code]

Can you make sure that you are understood the ES6 Template String Array?

Please read https://github.com/wechaty/wechaty/issues/1718#issuecomment-472937224 for more details about it.

[2019-12-30 01:54] windmemory commented on #1893
@huan

Originally, we have a console on web page to send text message to wechat. We added a function to allow user input a mentioned text message. But the mention syntax might appear anywhere within the message, and it uses a frontend generated name, so we want to pass in the message with mention syntax as a whole string to wechaty, followed with the real mentioned contact to do the mention operat

[2019-12-30 05:10] huan commented on #1893
Oh, yes, I remembered a little about our conversation before.

However, `const templateStringsArray = [`@${contact.name()} 123`] as any` is not the right way to use our `say` method. It should be changed to following the ES6 TemplateStringsArray if it want to use the `say` method, or we need to open a new discussion later.

[2019-12-30 05:58] windmemory commented on #1893
I agree that `const templateStringsArray = [`@${contact.name()} 123`] as any` is not the right way, but that's the workaround that we came up before.

Otherwise we need to update our frontend code to parse the text that use inputs, split it with contacts, passed to server, and wechaty will parse that parsed arguments and put them together, then passed to puppet.
Like below:

User inputs:
[code]

P

[2019-12-30 08:20] huan commented on #1893
I'm very glad that you agree with me that `[] as any` is not the right way.

And as you demonstrated, it's a great solution to this problem.

Using `room.say(templateStringsArray, mentionList)` will be OK because that's how it works.

[2019-12-30 08:40] windmemory commented on #1893
@huan In that way, we parse the string, then assemble it back, and it might cause some inconsistency during the process. Besides, this is not using the tag template directly, but calling the function, which is not elegant at all. I don't think that is a good solution.

[2019-12-30 12:00] huan commented on #1893
I understand your situation, and after I think about it, there's a workaround: calling the puppet directly to fulfill your requirement.

When you need to send your message, you can do this:

[code]

In this way, you are calling the underlying puppet private API instead of the public API.

However, it should still be far better than the `[] as any`.

P.S. I have reviewed the code, and I believe as

[2019-12-30 12:20] huan commented on #1892
Cloud you please explain that what's the meaning of the above description?

In other words, what's the purpose of this new API?

[2019-12-30 12:47] su-chang commented on #1892
If we want to add new friend, the first step we need to search him and then the next step add the new friend.

The purpose is for the first step.

[2019-12-30 13:06] windmemory commented on #1893
Why force all users to use tag template? I think my situation will happen to some other users.

[2019-12-30 13:07] huan commented on #1709
Close this issue because it is outdated for a long time.

[2019-12-30 13:07] #1709 closed

[2019-12-30 15:46] huan commented on #1892
Thanks for your quick response.

If we want to search for anyone by their mobile phone number, I would like to use the following API:

[code]

I feel the above code will be easy to read and be understood, please feel free to let me know what you think.

[2019-12-30 16:01] huan commented on #1897
It works great

[2019-12-30 16:01] #1897 closed

[2019-12-30 16:10] huan commented on #1878
Thanks for reporting this problem!

It should be fixed with version 0.29.27 or above.

[2019-12-30 16:10] #1878 closed

[2019-12-31 00:15] su-chang commented on #1892
How about the user name? We know we can search friends by two ways : phone and user name.

I think it's better to use string parameter for `search`.

[code]

[2019-12-31 03:51] huan commented on #1892
We can support the weixin Id by defining:

[code]

Then we can support two ways for the search.

[2019-12-31 17:09] #1812 closed

[2019-12-31 18:35] lijiarui commented on #1881
See https://docs.chatie.io/#web-wechat-limitations

[2020-01-01 06:49] huan commented on #1881
@lijiarui  According to https://github.com/wechaty/PMC/issues/2#issuecomment-555360870, we will close the docs.chatie.io on 31 January 2020.

[2020-01-01 13:03] huan commented on #1885
This feature had been merged and will be available with Wechaty on v0.29.30 or above.

Cloud you please let us know which version of what puppet will support this new feature?

Thank you very much.

[2020-01-01 14:23] huan opened #1899 "Support room.say`hi ${contact} ${num++}`"
Currently, if we use the following TemplateStringArray to make the `say` method call, we will get an error because the `num` is not `Contact` but a `number`:

[code]

So we need to support this.

[2020-01-01 14:46] huan commented on #1899
It should be available with v0.29.31 or above versions.

[2020-01-01 14:46] #1899 closed

[2020-01-02 06:54] SilentQianyi commented on #1885
Wechaty: on v0.29.25 or above

[2020-01-02 07:02] huan commented on #1885
Thank you very much for the update!

Please feel free to close this issue if it has been resolved.